@font-face {
  font-family: "Andika-R";
  src: url("../assets/Andika-R.ttf") format("truetype");
}
body,
html {
  width: 100%;
  height: 100%;
}
html{
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", Arial, sans-serif;
}
hr {
  max-width: 50px;
  border-width: 3px;
  border-color: #d398e0;
}
hr.light {
  border-color: #fff;
}
hr.dark {
  border-color: #000;
}
a,
.like--a {
  color: #9e6ab3;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
a:hover,
.like--a:hover {
  color: #9643b6;
}
/* h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", "Andika-R", "Helvetica Neue", Arial, sans-serif;
} */
.bg-primary {
  background-color: #d398e0 !important;
}
.bg-dark {
  background-color: #212529 !important;
}
.text-faded {
  color: rgba(255, 255, 255, 0.7);
}
.font-weight-bold {
  font-weight: 700!important;
}
section {
  padding: 2.5rem 0;
  position: relative;
}
.section-heading {
  margin-top: 0;
}
::-moz-selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}
::selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}
img::selection {
  color: #fff;
  background: transparent;
}
img::-moz-selection {
  color: #fff;
  background: transparent;
}
#mainNav {
  border-bottom: 1px solid rgba(33, 37, 41, 0.1);
  background-color: #fff;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  padding:0;
 }

.logotyp{
  width: 27px;
  padding-bottom: 9px;
  margin-right: 5px;
} 
.logo-text{
  width:135px;
}

#mainNav .navbar-brand {
  font-weight: 700;
  text-transform: uppercase;
  color: #d398e0;
  padding-top: 1.3rem;
}
#mainNav .navbar-brand:focus,
#mainNav .navbar-brand:hover {
  color: #d398e0;
}
#mainNav .navbar-nav > li.nav-item > a.nav-link,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
  font-size: 0.9rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #212529;
}
#mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
  color: #d398e0;
}
#mainNav .navbar-nav > li.nav-item > a.nav-link.active,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
  color: #d398e0 !important;
  background-color: transparent;
}
#mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
  background-color: transparent;
}
@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    color: rgba(29, 29, 29, 0.7);
  }
  #mainNav .navbar-brand:focus,
  #mainNav .navbar-brand:hover {
    color: #fff;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #fff;
  }
  #mainNav.navbar-shrink {
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
    background-color: #fff;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #d398e0;
  }
  #mainNav.navbar-shrink .navbar-brand:focus,
  #mainNav.navbar-shrink .navbar-brand:hover {
    color: #d398e0;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
    color: #212529;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #d398e0;
  }
}
header.masthead {
  /* padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  background-image: url("../img/header-s-tiny.png"); */
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  align-items: center;
  background: #f9e5ff;
  /*  background: linear-gradient(to bottom right, #FFF8F8, #F4CDFF); */
  background: linear-gradient(120deg, #fff8F8, #f4ccff);
  position: relative;
}

.masthead ul{
  margin: 2rem 0 2.7rem;
  padding-left: 0;
  list-style-type:none;
}
.masthead li {
    line-height: 2rem;
}
.masthead li::before{
  content: url(../img/pink-arrow.svg);
  margin: 0 1.1rem 0 0;
  width: 4px;
  font-size: 2rem;
  position: relative;
  top: 3px;
}


.hero-back{
  position: absolute;
  right: 30vw;
  bottom: 0;
  z-index: 1;
  height: 75vh;
}
.hero-front{
  position: absolute;
  right: 10vw;
  bottom: 0;
  z-index: 2;
  height: 87vh;
}
.hero-left{
  position: absolute;
  left: -60px;
  top: 32%;
  z-index: 0;
  height: 90px;
}

header.masthead hr {
  margin-top: 30px;
  margin-bottom: 30px;
}
header.masthead h1 {
  font-size: 2rem;
  margin-bottom: 1.3rem;
  color: #554361;
  margin-top: 5rem;
}
header.masthead p {
  font-weight: 100;
}
@media (min-width: 768px) {
  header.masthead p {
    font-size: 1.5rem;
    line-height: 1.1;
  }
}
@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 650px;
    padding-top: 0;
    padding-bottom: 0;
  }
  header.masthead h1 {
    font-size: 2.2rem;
  }
}
@media (min-width: 1200px) {
  header.masthead h1 {
    font-size: 2.4rem;
  }
}
.service-box {
  max-width: 400px;
}
.portfolio-box {
  position: relative;
  display: block;
  max-width: 400px;
  margin: 0 auto;
}
.portfolio-box .portfolio-box__circle {
  position: absolute;
  top: 1.5rem;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  opacity: 1;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
.portfolio-box .portfolio-box__circle.is--yellow {
  left: 1.5rem;
  background-color: #ff0;
}
.portfolio-box .portfolio-box__circle.is--red {
  right: 1.5rem;
  background-color: #fe0000;
}
.portfolio-box .portfolio-box__circle.is--purple {
  left: 1.5rem;
  background-color: #a600de;
}
.portfolio-box .portfolio-box__circle.is--blue {
  right: 1.5rem;
  background-color: #007fff;
}
@media (min-width: 992px) {
  .portfolio-box .portfolio-box__circle {
    width: 2.5rem;
    height: 2.5rem;
  }
}
.text-primary {
  color: #d398e0 !important;
}

/* kvuli #linkům a menu, které by je překrylo */
.link::before {
  display: block;
  content: " ";
  margin-top: -120px;
  height: 120px;
  visibility: hidden;
  pointer-events: none;
}


.btn {
  font-weight: 300;
  font-size: 1.2rem;
  text-transform: none;
  padding: 0.6rem 2rem;
  border-radius: 2rem;
  color: white;
}

.masthead .btn{
  min-width:230px;
}

.btn-main{
  background-color: #DD83E6;
  border-color: #DD83E6;
}
.masthead .btn-main, .navbar .btn-main{
  box-shadow: 1px 1px 20px -3px #d28fda;
}
.masthead .btn-main:hover{
  box-shadow: none;
}

.btn-main:hover{
  background-color: #b579cd;
  border-color: #b579cd;
  color: white;
}

.btn-main-outline{
  background-color: transparent;
  border: 1px solid #DD83E6;
  color: #DD83E6;
}
.btn-main-outline:hover{
  background-color: #b579cd;
  border: 1px solid transparent;
  color:white;
}

.btn-xl {
  padding: 1rem 2rem;
}
.btn-primary {
  background-color: #d398e0;
  border-color: #d398e0;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  color: #fff;
  background-color: #cb84da !important;
}
.btn-primary:active,
.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important;
}
.btn-info {
  text-transform: none;
  padding: 0.8rem;
  border-radius: 1rem;
  background-color: #2f195f;
  border-color: #2f195f;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active {
  color: #fff;
  background-color: #25144b !important;
}
.btn-info:active,
.btn-info:focus {
  box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important;
}
.cleo-util.is--info-dialog {
  max-width: 900px;
}
.cleo-util.is--centered {
  margin-left: auto;
  margin-right: auto;
}
.cleo-util.is--max-w-800 {
  max-width: 800px;
}
.cleo-util.is--max-w-1200 {
  max-width: 1200px;
}
.cleo-util.is--no-margined {
  margin: 0 !important;
}
.cleo-util.is--no-padded {
  padding: 0 !important;
}
.cleo-util.is--pointer {
  cursor: pointer !important;
}
.cleo-util.is--ico-size-m {
  font-size: 1.5rem;
}
.cleo-util.is--ico-size-x {
  font-size: 2rem;
}
.cleo-util.is--flex-centered {
  justify-content: center !important;
}
.cleo-util.is--tiny-margined {
  margin: 0.5rem;
}
.cleo-util.is--vertical-margined {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.cleo-util.is--top-head-padding {
  padding-top: 6rem;
}
.cleo-util.is--not-underlined:hover {
  text-decoration: none;
}
.cleo-util.is--max-w-100 {
  max-width: 100%;
}
@media (min-width: 768px) {
  .cleo-util.is--modal-80 .modal-dialog {
    max-width: 720px !important;
  }
}
.cleo-util.is--icon-before {
  margin-right: 1rem;
}
.cleo-util.is--text-r-from-tablet {
  text-align: center;
}
@media (min-width: 768px) {
  .cleo-util.is--text-r-from-tablet {
    text-align: right;
  }
}
.cleo-util.is--text-l-from-tablet {
  text-align: center;
}
@media (min-width: 768px) {
  .cleo-util.is--text-l-from-tablet {
    text-align: left;
  }
}
.cleo-util.is--first-ul-style {
  font-weight: bold;
  font-style: italic;
  font-size: 1.3rem;
  color: #007fff;
}
@font-face {
  font-family: "IcoMoon-Free";
  src: url("../assets/IcoMoon-Free.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.cleo-icon {
  font-family: "IcoMoon-Free" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cleo-icon.is--home:before {
  content: "\e900";
}
.cleo-icon.is--home2:before {
  content: "\e901";
}
.cleo-icon.is--home3:before {
  content: "\e902";
}
.cleo-icon.is--office:before {
  content: "\e903";
}
.cleo-icon.is--newspaper:before {
  content: "\e904";
}
.cleo-icon.is--pencil:before {
  content: "\e905";
}
.cleo-icon.is--pencil2:before {
  content: "\e906";
}
.cleo-icon.is--quill:before {
  content: "\e907";
}
.cleo-icon.is--pen:before {
  content: "\e908";
}
.cleo-icon.is--blog:before {
  content: "\e909";
}
.cleo-icon.is--eyedropper:before {
  content: "\e90a";
}
.cleo-icon.is--droplet:before {
  content: "\e90b";
}
.cleo-icon.is--paint-format:before {
  content: "\e90c";
}
.cleo-icon.is--image:before {
  content: "\e90d";
}
.cleo-icon.is--images:before {
  content: "\e90e";
}
.cleo-icon.is--camera:before {
  content: "\e90f";
}
.cleo-icon.is--headphones:before {
  content: "\e910";
}
.cleo-icon.is--music:before {
  content: "\e911";
}
.cleo-icon.is--play:before {
  content: "\e912";
}
.cleo-icon.is--film:before {
  content: "\e913";
}
.cleo-icon.is--video-camera:before {
  content: "\e914";
}
.cleo-icon.is--dice:before {
  content: "\e915";
}
.cleo-icon.is--pacman:before {
  content: "\e916";
}
.cleo-icon.is--spades:before {
  content: "\e917";
}
.cleo-icon.is--clubs:before {
  content: "\e918";
}
.cleo-icon.is--diamonds:before {
  content: "\e919";
}
.cleo-icon.is--bullhorn:before {
  content: "\e91a";
}
.cleo-icon.is--connection:before {
  content: "\e91b";
}
.cleo-icon.is--podcast:before {
  content: "\e91c";
}
.cleo-icon.is--feed:before {
  content: "\e91d";
}
.cleo-icon.is--mic:before {
  content: "\e91e";
}
.cleo-icon.is--book:before {
  content: "\e91f";
}
.cleo-icon.is--books:before {
  content: "\e920";
}
.cleo-icon.is--library:before {
  content: "\e921";
}
.cleo-icon.is--file-text:before {
  content: "\e922";
}
.cleo-icon.is--profile:before {
  content: "\e923";
}
.cleo-icon.is--file-empty:before {
  content: "\e924";
}
.cleo-icon.is--files-empty:before {
  content: "\e925";
}
.cleo-icon.is--file-text2:before {
  content: "\e926";
}
.cleo-icon.is--file-picture:before {
  content: "\e927";
}
.cleo-icon.is--file-music:before {
  content: "\e928";
}
.cleo-icon.is--file-play:before {
  content: "\e929";
}
.cleo-icon.is--file-video:before {
  content: "\e92a";
}
.cleo-icon.is--file-zip:before {
  content: "\e92b";
}
.cleo-icon.is--copy:before {
  content: "\e92c";
}
.cleo-icon.is--paste:before {
  content: "\e92d";
}
.cleo-icon.is--stack:before {
  content: "\e92e";
}
.cleo-icon.is--folder:before {
  content: "\e92f";
}
.cleo-icon.is--folder-open:before {
  content: "\e930";
}
.cleo-icon.is--folder-plus:before {
  content: "\e931";
}
.cleo-icon.is--folder-minus:before {
  content: "\e932";
}
.cleo-icon.is--folder-download:before {
  content: "\e933";
}
.cleo-icon.is--folder-upload:before {
  content: "\e934";
}
.cleo-icon.is--price-tag:before {
  content: "\e935";
}
.cleo-icon.is--price-tags:before {
  content: "\e936";
}
.cleo-icon.is--barcode:before {
  content: "\e937";
}
.cleo-icon.is--qrcode:before {
  content: "\e938";
}
.cleo-icon.is--ticket:before {
  content: "\e939";
}
.cleo-icon.is--cart:before {
  content: "\e93a";
}
.cleo-icon.is--coin-dollar:before {
  content: "\e93b";
}
.cleo-icon.is--coin-euro:before {
  content: "\e93c";
}
.cleo-icon.is--coin-pound:before {
  content: "\e93d";
}
.cleo-icon.is--coin-yen:before {
  content: "\e93e";
}
.cleo-icon.is--credit-card:before {
  content: "\e93f";
}
.cleo-icon.is--calculator:before {
  content: "\e940";
}
.cleo-icon.is--lifebuoy:before {
  content: "\e941";
}
.cleo-icon.is--phone:before {
  content: "\e942";
}
.cleo-icon.is--phone-hang-up:before {
  content: "\e943";
}
.cleo-icon.is--address-book:before {
  content: "\e944";
}
.cleo-icon.is--envelop:before {
  content: "\e945";
}
.cleo-icon.is--pushpin:before {
  content: "\e946";
}
.cleo-icon.is--location:before {
  content: "\e947";
}
.cleo-icon.is--location2:before {
  content: "\e948";
}
.cleo-icon.is--compass:before {
  content: "\e949";
}
.cleo-icon.is--compass2:before {
  content: "\e94a";
}
.cleo-icon.is--map:before {
  content: "\e94b";
}
.cleo-icon.is--map2:before {
  content: "\e94c";
}
.cleo-icon.is--history:before {
  content: "\e94d";
}
.cleo-icon.is--clock:before {
  content: "\e94e";
}
.cleo-icon.is--clock2:before {
  content: "\e94f";
}
.cleo-icon.is--alarm:before {
  content: "\e950";
}
.cleo-icon.is--bell:before {
  content: "\e951";
}
.cleo-icon.is--stopwatch:before {
  content: "\e952";
}
.cleo-icon.is--calendar:before {
  content: "\e953";
}
.cleo-icon.is--printer:before {
  content: "\e954";
}
.cleo-icon.is--keyboard:before {
  content: "\e955";
}
.cleo-icon.is--display:before {
  content: "\e956";
}
.cleo-icon.is--laptop:before {
  content: "\e957";
}
.cleo-icon.is--mobile:before {
  content: "\e958";
}
.cleo-icon.is--mobile2:before {
  content: "\e959";
}
.cleo-icon.is--tablet:before {
  content: "\e95a";
}
.cleo-icon.is--tv:before {
  content: "\e95b";
}
.cleo-icon.is--drawer:before {
  content: "\e95c";
}
.cleo-icon.is--drawer2:before {
  content: "\e95d";
}
.cleo-icon.is--box-add:before {
  content: "\e95e";
}
.cleo-icon.is--box-remove:before {
  content: "\e95f";
}
.cleo-icon.is--download:before {
  content: "\e960";
}
.cleo-icon.is--upload:before {
  content: "\e961";
}
.cleo-icon.is--floppy-disk:before {
  content: "\e962";
}
.cleo-icon.is--drive:before {
  content: "\e963";
}
.cleo-icon.is--database:before {
  content: "\e964";
}
.cleo-icon.is--undo:before {
  content: "\e965";
}
.cleo-icon.is--redo:before {
  content: "\e966";
}
.cleo-icon.is--undo2:before {
  content: "\e967";
}
.cleo-icon.is--redo2:before {
  content: "\e968";
}
.cleo-icon.is--forward:before {
  content: "\e969";
}
.cleo-icon.is--reply:before {
  content: "\e96a";
}
.cleo-icon.is--bubble:before {
  content: "\e96b";
}
.cleo-icon.is--bubbles:before {
  content: "\e96c";
}
.cleo-icon.is--bubbles2:before {
  content: "\e96d";
}
.cleo-icon.is--bubble2:before {
  content: "\e96e";
}
.cleo-icon.is--bubbles3:before {
  content: "\e96f";
}
.cleo-icon.is--bubbles4:before {
  content: "\e970";
}
.cleo-icon.is--user:before {
  content: "\e971";
}
.cleo-icon.is--users:before {
  content: "\e972";
}
.cleo-icon.is--user-plus:before {
  content: "\e973";
}
.cleo-icon.is--user-minus:before {
  content: "\e974";
}
.cleo-icon.is--user-check:before {
  content: "\e975";
}
.cleo-icon.is--user-tie:before {
  content: "\e976";
}
.cleo-icon.is--quotes-left:before {
  content: "\e977";
}
.cleo-icon.is--quotes-right:before {
  content: "\e978";
}
.cleo-icon.is--hour-glass:before {
  content: "\e979";
}
.cleo-icon.is--spinner:before {
  content: "\e97a";
}
.cleo-icon.is--spinner2:before {
  content: "\e97b";
}
.cleo-icon.is--spinner3:before {
  content: "\e97c";
}
.cleo-icon.is--spinner4:before {
  content: "\e97d";
}
.cleo-icon.is--spinner5:before {
  content: "\e97e";
}
.cleo-icon.is--spinner6:before {
  content: "\e97f";
}
.cleo-icon.is--spinner7:before {
  content: "\e980";
}
.cleo-icon.is--spinner8:before {
  content: "\e981";
}
.cleo-icon.is--spinner9:before {
  content: "\e982";
}
.cleo-icon.is--spinner10:before {
  content: "\e983";
}
.cleo-icon.is--spinner11:before {
  content: "\e984";
}
.cleo-icon.is--binoculars:before {
  content: "\e985";
}
.cleo-icon.is--search:before {
  content: "\e986";
}
.cleo-icon.is--zoom-in:before {
  content: "\e987";
}
.cleo-icon.is--zoom-out:before {
  content: "\e988";
}
.cleo-icon.is--enlarge:before {
  content: "\e989";
}
.cleo-icon.is--shrink:before {
  content: "\e98a";
}
.cleo-icon.is--enlarge2:before {
  content: "\e98b";
}
.cleo-icon.is--shrink2:before {
  content: "\e98c";
}
.cleo-icon.is--key:before {
  content: "\e98d";
}
.cleo-icon.is--key2:before {
  content: "\e98e";
}
.cleo-icon.is--lock:before {
  content: "\e98f";
}
.cleo-icon.is--unlocked:before {
  content: "\e990";
}
.cleo-icon.is--wrench:before {
  content: "\e991";
}
.cleo-icon.is--equalizer:before {
  content: "\e992";
}
.cleo-icon.is--equalizer2:before {
  content: "\e993";
}
.cleo-icon.is--cog:before {
  content: "\e994";
}
.cleo-icon.is--cogs:before {
  content: "\e995";
}
.cleo-icon.is--hammer:before {
  content: "\e996";
}
.cleo-icon.is--magic-wand:before {
  content: "\e997";
}
.cleo-icon.is--aid-kit:before {
  content: "\e998";
}
.cleo-icon.is--bug:before {
  content: "\e999";
}
.cleo-icon.is--pie-chart:before {
  content: "\e99a";
}
.cleo-icon.is--stats-dots:before {
  content: "\e99b";
}
.cleo-icon.is--stats-bars:before {
  content: "\e99c";
}
.cleo-icon.is--stats-bars2:before {
  content: "\e99d";
}
.cleo-icon.is--trophy:before {
  content: "\e99e";
}
.cleo-icon.is--gift:before {
  content: "\e99f";
}
.cleo-icon.is--glass:before {
  content: "\e9a0";
}
.cleo-icon.is--glass2:before {
  content: "\e9a1";
}
.cleo-icon.is--mug:before {
  content: "\e9a2";
}
.cleo-icon.is--spoon-knife:before {
  content: "\e9a3";
}
.cleo-icon.is--leaf:before {
  content: "\e9a4";
}
.cleo-icon.is--rocket:before {
  content: "\e9a5";
}
.cleo-icon.is--meter:before {
  content: "\e9a6";
}
.cleo-icon.is--meter2:before {
  content: "\e9a7";
}
.cleo-icon.is--hammer2:before {
  content: "\e9a8";
}
.cleo-icon.is--fire:before {
  content: "\e9a9";
}
.cleo-icon.is--lab:before {
  content: "\e9aa";
}
.cleo-icon.is--magnet:before {
  content: "\e9ab";
}
.cleo-icon.is--bin:before {
  content: "\e9ac";
}
.cleo-icon.is--bin2:before {
  content: "\e9ad";
}
.cleo-icon.is--briefcase:before {
  content: "\e9ae";
}
.cleo-icon.is--airplane:before {
  content: "\e9af";
}
.cleo-icon.is--truck:before {
  content: "\e9b0";
}
.cleo-icon.is--road:before {
  content: "\e9b1";
}
.cleo-icon.is--accessibility:before {
  content: "\e9b2";
}
.cleo-icon.is--target:before {
  content: "\e9b3";
}
.cleo-icon.is--shield:before {
  content: "\e9b4";
}
.cleo-icon.is--power:before {
  content: "\e9b5";
}
.cleo-icon.is--switch:before {
  content: "\e9b6";
}
.cleo-icon.is--power-cord:before {
  content: "\e9b7";
}
.cleo-icon.is--clipboard:before {
  content: "\e9b8";
}
.cleo-icon.is--list-numbered:before {
  content: "\e9b9";
}
.cleo-icon.is--list:before {
  content: "\e9ba";
}
.cleo-icon.is--list2:before {
  content: "\e9bb";
}
.cleo-icon.is--tree:before {
  content: "\e9bc";
}
.cleo-icon.is--menu:before {
  content: "\e9bd";
}
.cleo-icon.is--menu2:before {
  content: "\e9be";
}
.cleo-icon.is--menu3:before {
  content: "\e9bf";
}
.cleo-icon.is--menu4:before {
  content: "\e9c0";
}
.cleo-icon.is--cloud:before {
  content: "\e9c1";
}
.cleo-icon.is--cloud-download:before {
  content: "\e9c2";
}
.cleo-icon.is--cloud-upload:before {
  content: "\e9c3";
}
.cleo-icon.is--cloud-check:before {
  content: "\e9c4";
}
.cleo-icon.is--download2:before {
  content: "\e9c5";
}
.cleo-icon.is--upload2:before {
  content: "\e9c6";
}
.cleo-icon.is--download3:before {
  content: "\e9c7";
}
.cleo-icon.is--upload3:before {
  content: "\e9c8";
}
.cleo-icon.is--sphere:before {
  content: "\e9c9";
}
.cleo-icon.is--earth:before {
  content: "\e9ca";
}
.cleo-icon.is--link:before {
  content: "\e9cb";
}
.cleo-icon.is--flag:before {
  content: "\e9cc";
}
.cleo-icon.is--attachment:before {
  content: "\e9cd";
}
.cleo-icon.is--eye:before {
  content: "\e9ce";
}
.cleo-icon.is--eye-plus:before {
  content: "\e9cf";
}
.cleo-icon.is--eye-minus:before {
  content: "\e9d0";
}
.cleo-icon.is--eye-blocked:before {
  content: "\e9d1";
}
.cleo-icon.is--bookmark:before {
  content: "\e9d2";
}
.cleo-icon.is--bookmarks:before {
  content: "\e9d3";
}
.cleo-icon.is--sun:before {
  content: "\e9d4";
}
.cleo-icon.is--contrast:before {
  content: "\e9d5";
}
.cleo-icon.is--brightness-contrast:before {
  content: "\e9d6";
}
.cleo-icon.is--star-empty:before {
  content: "\e9d7";
}
.cleo-icon.is--star-half:before {
  content: "\e9d8";
}
.cleo-icon.is--star-full:before {
  content: "\e9d9";
}
.cleo-icon.is--heart:before {
  content: "\e9da";
}
.cleo-icon.is--heart-broken:before {
  content: "\e9db";
}
.cleo-icon.is--man:before {
  content: "\e9dc";
}
.cleo-icon.is--woman:before {
  content: "\e9dd";
}
.cleo-icon.is--man-woman:before {
  content: "\e9de";
}
.cleo-icon.is--happy:before {
  content: "\e9df";
}
.cleo-icon.is--happy2:before {
  content: "\e9e0";
}
.cleo-icon.is--smile:before {
  content: "\e9e1";
}
.cleo-icon.is--smile2:before {
  content: "\e9e2";
}
.cleo-icon.is--tongue:before {
  content: "\e9e3";
}
.cleo-icon.is--tongue2:before {
  content: "\e9e4";
}
.cleo-icon.is--sad:before {
  content: "\e9e5";
}
.cleo-icon.is--sad2:before {
  content: "\e9e6";
}
.cleo-icon.is--wink:before {
  content: "\e9e7";
}
.cleo-icon.is--wink2:before {
  content: "\e9e8";
}
.cleo-icon.is--grin:before {
  content: "\e9e9";
}
.cleo-icon.is--grin2:before {
  content: "\e9ea";
}
.cleo-icon.is--cool:before {
  content: "\e9eb";
}
.cleo-icon.is--cool2:before {
  content: "\e9ec";
}
.cleo-icon.is--angry:before {
  content: "\e9ed";
}
.cleo-icon.is--angry2:before {
  content: "\e9ee";
}
.cleo-icon.is--evil:before {
  content: "\e9ef";
}
.cleo-icon.is--evil2:before {
  content: "\e9f0";
}
.cleo-icon.is--shocked:before {
  content: "\e9f1";
}
.cleo-icon.is--shocked2:before {
  content: "\e9f2";
}
.cleo-icon.is--baffled:before {
  content: "\e9f3";
}
.cleo-icon.is--baffled2:before {
  content: "\e9f4";
}
.cleo-icon.is--confused:before {
  content: "\e9f5";
}
.cleo-icon.is--confused2:before {
  content: "\e9f6";
}
.cleo-icon.is--neutral:before {
  content: "\e9f7";
}
.cleo-icon.is--neutral2:before {
  content: "\e9f8";
}
.cleo-icon.is--hipster:before {
  content: "\e9f9";
}
.cleo-icon.is--hipster2:before {
  content: "\e9fa";
}
.cleo-icon.is--wondering:before {
  content: "\e9fb";
}
.cleo-icon.is--wondering2:before {
  content: "\e9fc";
}
.cleo-icon.is--sleepy:before {
  content: "\e9fd";
}
.cleo-icon.is--sleepy2:before {
  content: "\e9fe";
}
.cleo-icon.is--frustrated:before {
  content: "\e9ff";
}
.cleo-icon.is--frustrated2:before {
  content: "\ea00";
}
.cleo-icon.is--crying:before {
  content: "\ea01";
}
.cleo-icon.is--crying2:before {
  content: "\ea02";
}
.cleo-icon.is--point-up:before {
  content: "\ea03";
}
.cleo-icon.is--point-right:before {
  content: "\ea04";
}
.cleo-icon.is--point-down:before {
  content: "\ea05";
}
.cleo-icon.is--point-left:before {
  content: "\ea06";
}
.cleo-icon.is--warning:before {
  content: "\ea07";
}
.cleo-icon.is--notification:before {
  content: "\ea08";
}
.cleo-icon.is--question:before {
  content: "\ea09";
}
.cleo-icon.is--plus:before {
  content: "\ea0a";
}
.cleo-icon.is--minus:before {
  content: "\ea0b";
}
.cleo-icon.is--info:before {
  content: "\ea0c";
}
.cleo-icon.is--cancel-circle:before {
  content: "\ea0d";
}
.cleo-icon.is--blocked:before {
  content: "\ea0e";
}
.cleo-icon.is--cross:before {
  content: "\ea0f";
}
.cleo-icon.is--checkmark:before {
  content: "\ea10";
}
.cleo-icon.is--checkmark2:before {
  content: "\ea11";
}
.cleo-icon.is--spell-check:before {
  content: "\ea12";
}
.cleo-icon.is--enter:before {
  content: "\ea13";
}
.cleo-icon.is--exit:before {
  content: "\ea14";
}
.cleo-icon.is--play2:before {
  content: "\ea15";
}
.cleo-icon.is--pause:before {
  content: "\ea16";
}
.cleo-icon.is--stop:before {
  content: "\ea17";
}
.cleo-icon.is--previous:before {
  content: "\ea18";
}
.cleo-icon.is--next:before {
  content: "\ea19";
}
.cleo-icon.is--backward:before {
  content: "\ea1a";
}
.cleo-icon.is--forward2:before {
  content: "\ea1b";
}
.cleo-icon.is--play3:before {
  content: "\ea1c";
}
.cleo-icon.is--pause2:before {
  content: "\ea1d";
}
.cleo-icon.is--stop2:before {
  content: "\ea1e";
}
.cleo-icon.is--backward2:before {
  content: "\ea1f";
}
.cleo-icon.is--forward3:before {
  content: "\ea20";
}
.cleo-icon.is--first:before {
  content: "\ea21";
}
.cleo-icon.is--last:before {
  content: "\ea22";
}
.cleo-icon.is--previous2:before {
  content: "\ea23";
}
.cleo-icon.is--next2:before {
  content: "\ea24";
}
.cleo-icon.is--eject:before {
  content: "\ea25";
}
.cleo-icon.is--volume-high:before {
  content: "\ea26";
}
.cleo-icon.is--volume-medium:before {
  content: "\ea27";
}
.cleo-icon.is--volume-low:before {
  content: "\ea28";
}
.cleo-icon.is--volume-mute:before {
  content: "\ea29";
}
.cleo-icon.is--volume-mute2:before {
  content: "\ea2a";
}
.cleo-icon.is--volume-increase:before {
  content: "\ea2b";
}
.cleo-icon.is--volume-decrease:before {
  content: "\ea2c";
}
.cleo-icon.is--loop:before {
  content: "\ea2d";
}
.cleo-icon.is--loop2:before {
  content: "\ea2e";
}
.cleo-icon.is--infinite:before {
  content: "\ea2f";
}
.cleo-icon.is--shuffle:before {
  content: "\ea30";
}
.cleo-icon.is--arrow-up-left:before {
  content: "\ea31";
}
.cleo-icon.is--arrow-up:before {
  content: "\ea32";
}
.cleo-icon.is--arrow-up-right:before {
  content: "\ea33";
}
.cleo-icon.is--arrow-right:before {
  content: "\ea34";
}
.cleo-icon.is--arrow-down-right:before {
  content: "\ea35";
}
.cleo-icon.is--arrow-down:before {
  content: "\ea36";
}
.cleo-icon.is--arrow-down-left:before {
  content: "\ea37";
}
.cleo-icon.is--arrow-left:before {
  content: "\ea38";
}
.cleo-icon.is--arrow-up-left2:before {
  content: "\ea39";
}
.cleo-icon.is--arrow-up2:before {
  content: "\ea3a";
}
.cleo-icon.is--arrow-up-right2:before {
  content: "\ea3b";
}
.cleo-icon.is--arrow-right2:before {
  content: "\ea3c";
}
.cleo-icon.is--arrow-down-right2:before {
  content: "\ea3d";
}
.cleo-icon.is--arrow-down2:before {
  content: "\ea3e";
}
.cleo-icon.is--arrow-down-left2:before {
  content: "\ea3f";
}
.cleo-icon.is--arrow-left2:before {
  content: "\ea40";
}
.cleo-icon.is--circle-up:before {
  content: "\ea41";
}
.cleo-icon.is--circle-right:before {
  content: "\ea42";
}
.cleo-icon.is--circle-down:before {
  content: "\ea43";
}
.cleo-icon.is--circle-left:before {
  content: "\ea44";
}
.cleo-icon.is--tab:before {
  content: "\ea45";
}
.cleo-icon.is--move-up:before {
  content: "\ea46";
}
.cleo-icon.is--move-down:before {
  content: "\ea47";
}
.cleo-icon.is--sort-alpha-asc:before {
  content: "\ea48";
}
.cleo-icon.is--sort-alpha-desc:before {
  content: "\ea49";
}
.cleo-icon.is--sort-numeric-asc:before {
  content: "\ea4a";
}
.cleo-icon.is--sort-numberic-desc:before {
  content: "\ea4b";
}
.cleo-icon.is--sort-amount-asc:before {
  content: "\ea4c";
}
.cleo-icon.is--sort-amount-desc:before {
  content: "\ea4d";
}
.cleo-icon.is--command:before {
  content: "\ea4e";
}
.cleo-icon.is--shift:before {
  content: "\ea4f";
}
.cleo-icon.is--ctrl:before {
  content: "\ea50";
}
.cleo-icon.is--opt:before {
  content: "\ea51";
}
.cleo-icon.is--checkbox-checked:before {
  content: "\ea52";
}
.cleo-icon.is--checkbox-unchecked:before {
  content: "\ea53";
}
.cleo-icon.is--radio-checked:before {
  content: "\ea54";
}
.cleo-icon.is--radio-checked2:before {
  content: "\ea55";
}
.cleo-icon.is--radio-unchecked:before {
  content: "\ea56";
}
.cleo-icon.is--crop:before {
  content: "\ea57";
}
.cleo-icon.is--make-group:before {
  content: "\ea58";
}
.cleo-icon.is--ungroup:before {
  content: "\ea59";
}
.cleo-icon.is--scissors:before {
  content: "\ea5a";
}
.cleo-icon.is--filter:before {
  content: "\ea5b";
}
.cleo-icon.is--font:before {
  content: "\ea5c";
}
.cleo-icon.is--ligature:before {
  content: "\ea5d";
}
.cleo-icon.is--ligature2:before {
  content: "\ea5e";
}
.cleo-icon.is--text-height:before {
  content: "\ea5f";
}
.cleo-icon.is--text-width:before {
  content: "\ea60";
}
.cleo-icon.is--font-size:before {
  content: "\ea61";
}
.cleo-icon.is--bold:before {
  content: "\ea62";
}
.cleo-icon.is--underline:before {
  content: "\ea63";
}
.cleo-icon.is--italic:before {
  content: "\ea64";
}
.cleo-icon.is--strikethrough:before {
  content: "\ea65";
}
.cleo-icon.is--omega:before {
  content: "\ea66";
}
.cleo-icon.is--sigma:before {
  content: "\ea67";
}
.cleo-icon.is--page-break:before {
  content: "\ea68";
}
.cleo-icon.is--superscript:before {
  content: "\ea69";
}
.cleo-icon.is--subscript:before {
  content: "\ea6a";
}
.cleo-icon.is--superscript2:before {
  content: "\ea6b";
}
.cleo-icon.is--subscript2:before {
  content: "\ea6c";
}
.cleo-icon.is--text-color:before {
  content: "\ea6d";
}
.cleo-icon.is--pagebreak:before {
  content: "\ea6e";
}
.cleo-icon.is--clear-formatting:before {
  content: "\ea6f";
}
.cleo-icon.is--table:before {
  content: "\ea70";
}
.cleo-icon.is--table2:before {
  content: "\ea71";
}
.cleo-icon.is--insert-template:before {
  content: "\ea72";
}
.cleo-icon.is--pilcrow:before {
  content: "\ea73";
}
.cleo-icon.is--ltr:before {
  content: "\ea74";
}
.cleo-icon.is--rtl:before {
  content: "\ea75";
}
.cleo-icon.is--section:before {
  content: "\ea76";
}
.cleo-icon.is--paragraph-left:before {
  content: "\ea77";
}
.cleo-icon.is--paragraph-center:before {
  content: "\ea78";
}
.cleo-icon.is--paragraph-right:before {
  content: "\ea79";
}
.cleo-icon.is--paragraph-justify:before {
  content: "\ea7a";
}
.cleo-icon.is--indent-increase:before {
  content: "\ea7b";
}
.cleo-icon.is--indent-decrease:before {
  content: "\ea7c";
}
.cleo-icon.is--share:before {
  content: "\ea7d";
}
.cleo-icon.is--new-tab:before {
  content: "\ea7e";
}
.cleo-icon.is--embed:before {
  content: "\ea7f";
}
.cleo-icon.is--embed2:before {
  content: "\ea80";
}
.cleo-icon.is--terminal:before {
  content: "\ea81";
}
.cleo-icon.is--share2:before {
  content: "\ea82";
}
.cleo-icon.is--mail:before {
  content: "\ea83";
}
.cleo-icon.is--mail2:before {
  content: "\ea84";
}
.cleo-icon.is--mail3:before {
  content: "\ea85";
}
.cleo-icon.is--mail4:before {
  content: "\ea86";
}
.cleo-icon.is--amazon:before {
  content: "\ea87";
}
.cleo-icon.is--google:before {
  content: "\ea88";
}
.cleo-icon.is--google2:before {
  content: "\ea89";
}
.cleo-icon.is--google3:before {
  content: "\ea8a";
}
.cleo-icon.is--google-plus:before {
  content: "\ea8b";
}
.cleo-icon.is--google-plus2:before {
  content: "\ea8c";
}
.cleo-icon.is--google-plus3:before {
  content: "\ea8d";
}
.cleo-icon.is--hangouts:before {
  content: "\ea8e";
}
.cleo-icon.is--google-drive:before {
  content: "\ea8f";
}
.cleo-icon.is--facebook:before {
  content: "\ea90";
}
.cleo-icon.is--facebook2:before {
  content: "\ea91";
}
.cleo-icon.is--instagram:before {
  content: "\ea92";
}
.cleo-icon.is--whatsapp:before {
  content: "\ea93";
}
.cleo-icon.is--spotify:before {
  content: "\ea94";
}
.cleo-icon.is--telegram:before {
  content: "\ea95";
}
.cleo-icon.is--twitter:before {
  content: "\ea96";
}
.cleo-icon.is--vine:before {
  content: "\ea97";
}
.cleo-icon.is--vk:before {
  content: "\ea98";
}
.cleo-icon.is--renren:before {
  content: "\ea99";
}
.cleo-icon.is--sina-weibo:before {
  content: "\ea9a";
}
.cleo-icon.is--rss:before {
  content: "\ea9b";
}
.cleo-icon.is--rss2:before {
  content: "\ea9c";
}
.cleo-icon.is--youtube:before {
  content: "\ea9d";
}
.cleo-icon.is--youtube2:before {
  content: "\ea9e";
}
.cleo-icon.is--twitch:before {
  content: "\ea9f";
}
.cleo-icon.is--vimeo:before {
  content: "\eaa0";
}
.cleo-icon.is--vimeo2:before {
  content: "\eaa1";
}
.cleo-icon.is--lanyrd:before {
  content: "\eaa2";
}
.cleo-icon.is--flickr:before {
  content: "\eaa3";
}
.cleo-icon.is--flickr2:before {
  content: "\eaa4";
}
.cleo-icon.is--flickr3:before {
  content: "\eaa5";
}
.cleo-icon.is--flickr4:before {
  content: "\eaa6";
}
.cleo-icon.is--dribbble:before {
  content: "\eaa7";
}
.cleo-icon.is--behance:before {
  content: "\eaa8";
}
.cleo-icon.is--behance2:before {
  content: "\eaa9";
}
.cleo-icon.is--deviantart:before {
  content: "\eaaa";
}
.cleo-icon.is--500px:before {
  content: "\eaab";
}
.cleo-icon.is--steam:before {
  content: "\eaac";
}
.cleo-icon.is--steam2:before {
  content: "\eaad";
}
.cleo-icon.is--dropbox:before {
  content: "\eaae";
}
.cleo-icon.is--onedrive:before {
  content: "\eaaf";
}
.cleo-icon.is--github:before {
  content: "\eab0";
}
.cleo-icon.is--npm:before {
  content: "\eab1";
}
.cleo-icon.is--basecamp:before {
  content: "\eab2";
}
.cleo-icon.is--trello:before {
  content: "\eab3";
}
.cleo-icon.is--wordpress:before {
  content: "\eab4";
}
.cleo-icon.is--joomla:before {
  content: "\eab5";
}
.cleo-icon.is--ello:before {
  content: "\eab6";
}
.cleo-icon.is--blogger:before {
  content: "\eab7";
}
.cleo-icon.is--blogger2:before {
  content: "\eab8";
}
.cleo-icon.is--tumblr:before {
  content: "\eab9";
}
.cleo-icon.is--tumblr2:before {
  content: "\eaba";
}
.cleo-icon.is--yahoo:before {
  content: "\eabb";
}
.cleo-icon.is--yahoo2:before {
  content: "\eabc";
}
.cleo-icon.is--tux:before {
  content: "\eabd";
}
.cleo-icon.is--appleinc:before {
  content: "\eabe";
}
.cleo-icon.is--finder:before {
  content: "\eabf";
}
.cleo-icon.is--android:before {
  content: "\eac0";
}
.cleo-icon.is--windows:before {
  content: "\eac1";
}
.cleo-icon.is--windows8:before {
  content: "\eac2";
}
.cleo-icon.is--soundcloud:before {
  content: "\eac3";
}
.cleo-icon.is--soundcloud2:before {
  content: "\eac4";
}
.cleo-icon.is--skype:before {
  content: "\eac5";
}
.cleo-icon.is--reddit:before {
  content: "\eac6";
}
.cleo-icon.is--hackernews:before {
  content: "\eac7";
}
.cleo-icon.is--wikipedia:before {
  content: "\eac8";
}
.cleo-icon.is--linkedin:before {
  content: "\eac9";
}
.cleo-icon.is--linkedin2:before {
  content: "\eaca";
}
.cleo-icon.is--lastfm:before {
  content: "\eacb";
}
.cleo-icon.is--lastfm2:before {
  content: "\eacc";
}
.cleo-icon.is--delicious:before {
  content: "\eacd";
}
.cleo-icon.is--stumbleupon:before {
  content: "\eace";
}
.cleo-icon.is--stumbleupon2:before {
  content: "\eacf";
}
.cleo-icon.is--stackoverflow:before {
  content: "\ead0";
}
.cleo-icon.is--pinterest:before {
  content: "\ead1";
}
.cleo-icon.is--pinterest2:before {
  content: "\ead2";
}
.cleo-icon.is--xing:before {
  content: "\ead3";
}
.cleo-icon.is--xing2:before {
  content: "\ead4";
}
.cleo-icon.is--flattr:before {
  content: "\ead5";
}
.cleo-icon.is--foursquare:before {
  content: "\ead6";
}
.cleo-icon.is--yelp:before {
  content: "\ead7";
}
.cleo-icon.is--paypal:before {
  content: "\ead8";
}
.cleo-icon.is--chrome:before {
  content: "\ead9";
}
.cleo-icon.is--firefox:before {
  content: "\eada";
}
.cleo-icon.is--IE:before {
  content: "\eadb";
}
.cleo-icon.is--edge:before {
  content: "\eadc";
}
.cleo-icon.is--safari:before {
  content: "\eadd";
}
.cleo-icon.is--opera:before {
  content: "\eade";
}
.cleo-icon.is--file-pdf:before {
  content: "\eadf";
}
.cleo-icon.is--file-openoffice:before {
  content: "\eae0";
}
.cleo-icon.is--file-word:before {
  content: "\eae1";
}
.cleo-icon.is--file-excel:before {
  content: "\eae2";
}
.cleo-icon.is--libreoffice:before {
  content: "\eae3";
}
.cleo-icon.is--html-five:before {
  content: "\eae4";
}
.cleo-icon.is--html-five2:before {
  content: "\eae5";
}
.cleo-icon.is--css3:before {
  content: "\eae6";
}
.cleo-icon.is--git:before {
  content: "\eae7";
}
.cleo-icon.is--codepen:before {
  content: "\eae8";
}
.cleo-icon.is--svg:before {
  content: "\eae9";
}
.cleo-icon.is--IcoMoon:before {
  content: "\eaea";
}
.cleo-icon.is--uni21:before {
  content: "\21";
}
.cleo-icon.is--uni22:before {
  content: "\22";
}
.cleo-icon.is--uni23:before {
  content: "\23";
}
.cleo-icon.is--uni24:before {
  content: "\24";
}
.cleo-icon.is--uni25:before {
  content: "\25";
}
.cleo-icon.is--uni26:before {
  content: "\26";
}
.cleo-icon.is--uni27:before {
  content: "\27";
}
.cleo-icon.is--uni28:before {
  content: "\28";
}
.cleo-icon.is--uni29:before {
  content: "\29";
}
.cleo-icon.is--uni2A:before {
  content: "\2a";
}
.cleo-icon.is--uni2B:before {
  content: "\2b";
}
.cleo-icon.is--uni2C:before {
  content: "\2c";
}
.cleo-icon.is--uni2D:before {
  content: "\2d";
}
.cleo-icon.is--uni2E:before {
  content: "\2e";
}
.cleo-icon.is--uni2F:before {
  content: "\2f";
}
.cleo-icon.is--uni30:before {
  content: "\30";
}
.cleo-icon.is--uni31:before {
  content: "\31";
}
.cleo-icon.is--uni32:before {
  content: "\32";
}
.cleo-icon.is--uni33:before {
  content: "\33";
}
.cleo-icon.is--uni34:before {
  content: "\34";
}
.cleo-icon.is--uni35:before {
  content: "\35";
}
.cleo-icon.is--uni36:before {
  content: "\36";
}
.cleo-icon.is--uni37:before {
  content: "\37";
}
.cleo-icon.is--uni38:before {
  content: "\38";
}
.cleo-icon.is--uni39:before {
  content: "\39";
}
.cleo-icon.is--uni3A:before {
  content: "\3a";
}
.cleo-icon.is--uni3B:before {
  content: "\3b";
}
.cleo-icon.is--uni3C:before {
  content: "\3c";
}
.cleo-icon.is--uni3D:before {
  content: "\3d";
}
.cleo-icon.is--uni3E:before {
  content: "\3e";
}
.cleo-icon.is--uni3F:before {
  content: "\3f";
}
.cleo-icon.is--uni40:before {
  content: "\40";
}
.cleo-icon.is--uni41:before {
  content: "\41";
}
.cleo-icon.is--uni42:before {
  content: "\42";
}
.cleo-icon.is--uni43:before {
  content: "\43";
}
.cleo-icon.is--uni44:before {
  content: "\44";
}
.cleo-icon.is--uni45:before {
  content: "\45";
}
.cleo-icon.is--uni46:before {
  content: "\46";
}
.cleo-icon.is--uni47:before {
  content: "\47";
}
.cleo-icon.is--uni48:before {
  content: "\48";
}
.cleo-icon.is--uni49:before {
  content: "\49";
}
.cleo-icon.is--uni4A:before {
  content: "\4a";
}
.cleo-icon.is--uni4B:before {
  content: "\4b";
}
.cleo-icon.is--uni4C:before {
  content: "\4c";
}
.cleo-icon.is--uni4D:before {
  content: "\4d";
}
.cleo-icon.is--uni4E:before {
  content: "\4e";
}
.cleo-icon.is--uni4F:before {
  content: "\4f";
}
.cleo-icon.is--uni50:before {
  content: "\50";
}
.cleo-icon.is--uni51:before {
  content: "\51";
}
.cleo-icon.is--uni52:before {
  content: "\52";
}
.cleo-icon.is--uni53:before {
  content: "\53";
}
.cleo-icon.is--uni54:before {
  content: "\54";
}
.cleo-icon.is--uni55:before {
  content: "\55";
}
.cleo-icon.is--uni56:before {
  content: "\56";
}
.cleo-icon.is--uni57:before {
  content: "\57";
}
.cleo-icon.is--uni58:before {
  content: "\58";
}
.cleo-icon.is--uni59:before {
  content: "\59";
}
.cleo-icon.is--uni5A:before {
  content: "\5a";
}
.cleo-icon.is--uni5B:before {
  content: "\5b";
}
.cleo-icon.is--uni5C:before {
  content: "\5c";
}
.cleo-icon.is--uni5D:before {
  content: "\5d";
}
.cleo-icon.is--uni5E:before {
  content: "\5e";
}
.cleo-icon.is--uni5F:before {
  content: "\5f";
}
.cleo-icon.is--uni60:before {
  content: "\60";
}
.cleo-icon.is--uni61:before {
  content: "\61";
}
.cleo-icon.is--uni62:before {
  content: "\62";
}
.cleo-icon.is--uni63:before {
  content: "\63";
}
.cleo-icon.is--uni64:before {
  content: "\64";
}
.cleo-icon.is--uni65:before {
  content: "\65";
}
.cleo-icon.is--uni66:before {
  content: "\66";
}
.cleo-icon.is--uni67:before {
  content: "\67";
}
.cleo-icon.is--uni68:before {
  content: "\68";
}
.cleo-icon.is--uni69:before {
  content: "\69";
}
.cleo-icon.is--uni6A:before {
  content: "\6a";
}
.cleo-icon.is--uni6B:before {
  content: "\6b";
}
.cleo-icon.is--uni6C:before {
  content: "\6c";
}
.cleo-icon.is--uni6D:before {
  content: "\6d";
}
.cleo-icon.is--uni6E:before {
  content: "\6e";
}
.cleo-icon.is--uni6F:before {
  content: "\6f";
}
.cleo-icon.is--uni70:before {
  content: "\70";
}
.cleo-icon.is--uni71:before {
  content: "\71";
}
.cleo-icon.is--uni72:before {
  content: "\72";
}
.cleo-icon.is--uni73:before {
  content: "\73";
}
.cleo-icon.is--uni74:before {
  content: "\74";
}
.cleo-icon.is--uni75:before {
  content: "\75";
}
.cleo-icon.is--uni76:before {
  content: "\76";
}
.cleo-icon.is--uni77:before {
  content: "\77";
}
.cleo-icon.is--uni78:before {
  content: "\78";
}
.cleo-icon.is--uni79:before {
  content: "\79";
}
.cleo-icon.is--uni7A:before {
  content: "\7a";
}
.cleo-icon.is--uni7B:before {
  content: "\7b";
}
.cleo-icon.is--uni7C:before {
  content: "\7c";
}
.cleo-icon.is--uni7D:before {
  content: "\7d";
}
.cleo-icon.is--uni7E:before {
  content: "\7e";
}
.cleo-icon.is--uniA9:before {
  content: "\a9";
}
.cleo-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
  margin: 0;
}
@media (max-width: 419px) {
  .cleo-menu {
    justify-content: center;
    padding: 0;
  }
}
.cleo-menu__item {
  flex: 0 1 auto;
  list-style-type: none;
  padding: 15px;
}
@media (min-width: 420px) {
  .cleo-menu__item {
    margin-left: 0rem;
  }
}
.cleo-menu__item.is--icon-styled {
  font-size: 2rem;
}
.cleo-menu__item.is--icon-styled a {
  color: rgba(0, 0, 0, 0.54) !important;
}
.cleo-menu__item.is--icon-styled a:hover {
  text-decoration: none !important;
}
@media (min-width: 992px) {
  .cleo-menu__item.is--icon-styled a {
    color: #fff !important;
  }
}
.navbar-shrink .cleo-menu__item.is--icon-styled a {
  color: rgba(0, 0, 0, 0.54) !important;
}
.cleo-brand.is--icon {
  display: none;
  margin-bottom: 10px;
  margin-right: 10px;
}
@media (min-width: 576px) {
  .cleo-brand.is--icon {
    display: inline-block;
  }
}
.cleo-brand.is--text {
  display: none;
}
@media (min-width: 576px) {
  .cleo-brand.is--text {
    display: inline-block;
  }
}
.cleo-floating-box {
  position: fixed;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: yellow;
}
@media (min-width: 1200px) {
  .cleo-floating-box {
    position: fixed;
    top: 20%;
    right: 5%;
    bottom: auto;
    left: auto;
    border-radius: 10px;
    border: solid 3px #000;
    width: 200px;
  }
}
.cleo-google {
  display: inline-block;
  height: 36px;
  line-height: 36px;
  background-color: #fff;
  padding: 0 12px 0 6px;
  text-decoration: none !important;
  font-family: "Roboto-Medium", sans-serif;
  size: 14px;
  color: rgba(0, 0, 0, 0.54);
  font-weight: bold;
  border-radius: 2px;
  box-shadow: 1px 1px 3px 0px #828282;
}
.cleo-google:hover {
  background-color: #4285f4;
  color: #fff;
}
.cleo-google .cleo-google__img {
  display: inline-block;
  vertical-align: middle;
  width: 26px;
  height: 26px;
  margin-right: 10px;
  background-position: 0 0;
  background-size: contain;
  background-image: url("../img/g-logo.png");
}
.cleo-google .cleo-google__text {
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
}
.cleo-user {
  display: inline-block;
  height: 36px;
  line-height: 36px;
  background-color: #fff;
  padding: 0 6px;
  text-decoration: none !important;
  font-family: "Roboto-Medium", sans-serif;
  size: 14px;
  color: rgba(0, 0, 0, 0.54);
  font-weight: bold;
  border-radius: 2px;
  box-shadow: 1px 1px 3px 0px #828282;
}
.cleo-user .cleo-user__img {
  display: inline-block;
  vertical-align: middle;
  width: 26px;
  height: 26px;
  margin-right: 0;
  background-position: 0 0;
  background-size: contain;
  background-image: url("../img/g-logo.png");
  color: transparent;
}
@media (min-width: 480px) {
  .cleo-user .cleo-user__img {
    display: inline-block;
  }
}
.cleo-user .cleo-user__text {
  display: none;
  vertical-align: middle;
  line-height: 1;
}
@media (min-width: 480px) {
  .cleo-user .cleo-user__text {
    display: inline-block;
  }
}
.cleo-info {
  position: fixed;
  top: 12px;
  left: 0;
  right: 0;
  bottom: auto;
  opacity: 0;
  z-index: -9999;
  text-align: center;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
  pointer-events: none;
}
.cleo-info.is--closing {
  opacity: 0 !important;
}
.cleo-info.is--open {
  opacity: 1;
  z-index: 9999;
}
.cleo-info .cleo-info__box {
  display: inline-block;
  max-width: 90%;
  padding: 1rem 2rem;
  border-radius: 10px;
  position: relative;
}
.cleo-info.is--error .cleo-info__box {
  background-color: #fe0000;
}
.cleo-info.is--info .cleo-info__box {
  background-color: #007fff;
}
.cleo-info .cleo-info__closer {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  pointer-events: auto;
}
.cleo-info .cleo-info__content {
  padding-right: 1rem;
  margin: 0;
}
.cleo-event__group {
  overflow: visible;
  height: auto;
  opacity: 1;
  transition: opacity 0.5s ease;
}
.cleo-event__group.js-is-hidden {
  height: 0px;
  overflow: hidden;
  opacity: 0;
}
.cleo-event__item {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
  padding-top: 1.2rem;
}
.cleo-event__from {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1rem;
  line-height: 1rem;
}
.cleo-event__detail-wrapper {
  flex: 0 0 80%;
  width: 80%;
  min-width: 80%;
  max-width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
.cleo-event__edit,
.cleo-event__delete {
  text-align: right;
  flex: 1 1 auto;
  font-size: 1.5rem;
}
.cleo-event__detail {
  text-align: center;
  padding: 0.2rem 0;
  height: 1.2rem;
  min-height: 1.2rem;
  max-height: 1.2rem;
  font-size: 1.2rem;
}
.cleo-event__detail.is--length,
.cleo-event__detail.is--yellow,
.cleo-event__detail.is--red,
.cleo-event__detail.is--blue {
  flex: 0 0 20%;
  min-width: 20%;
  max-width: 20%;
  border-radius: 6px;
}
.cleo-event__detail.is--length {
  background-color: #c0f;
}
.cleo-event__detail.is--yellow {
  background-color: #ffff01;
}
.cleo-event__detail.is--red {
  background-color: #fe0000;
}
.cleo-event__detail.is--blue {
  background-color: #06f;
}
.cleo-event__detail.is--days {
  flex: 0 0 15%;
  min-width: 15%;
  max-width: 15%;
}
.cleo-event.is--controls {
  margin-top: 0.5rem;
  padding-top: 0.2rem;
  text-align: center;
  font-size: 1.5rem;
}
.cleo-stats {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: stretch;
}
@media (min-width: 992px) {
  .cleo-stats {
    flex-direction: row;
  }
}
.cleo-stats__column {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: stretch;
}
.cleo-stats__row {
  flex: 1 1 auto;
  padding: 0.2rem 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.cleo-stats__header,
.cleo-stats__content {
  font-size: 1.2rem;
}
.cleo-stats__header {
  flex: 0 0 70%;
  width: 70%;
  max-width: 70%;
  min-width: 70%;
  margin: 0;
}
.cleo-stats__content {
  flex: 0 0 30%;
  width: 30%;
  max-width: 30%;
  min-width: 30%;
  font-weight: bold;
  text-align: right;
}
.cleo-in-modal__datepicker .ui-datepicker-inline {
  margin: 1rem auto 3rem auto;
}
.cleo-in-modal__slider {
  margin: 1rem 2rem;
}
.cleo-in-modal__slider .ui-slider-handle {
  width: auto;
  height: auto;
  padding: 0 0.5rem;
}
@-webkit-keyframes pulse {
  to {
    box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
    background-color: rgba(255, 255, 255, 0.8);
  }
}
@-moz-keyframes pulse {
  to {
    box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
    background-color: rgba(255, 255, 255, 0.8);
  }
}
@-ms-keyframes pulse {
  to {
    box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
    background-color: rgba(255, 255, 255, 0.8);
  }
}
@keyframes pulse {
  to {
    box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
    background-color: rgba(255, 255, 255, 0.8);
  }
}
.cleo-loading {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9000;
  background-color: transparent;
  transition: background 1s ease;
}
.cleo-loading .cleo-loading__spinner {
  position: absolute;
  top: calc(40% - 32px);
  left: calc(50% - 32px);
  width: 64px;
  height: 64px;
}
.cleo-loading .cleo-loading__textfield {
  position: absolute;
  top: calc(40% + 100px);
  left: 0;
  right: 0;
  text-align: center;
}
.cleo-loading .cleo-loading__content {
  display: inline-block;
  padding: 0.2rem 0.5rem;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
  -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}
.cleo-loading.is--showing {
  background-color: rgba(0, 0, 0, 0.4);
}
.lds-roller {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
  margin: -3px 0 0 -3px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.cleo-google-iframe {
  width: 100%;
  height: 480px;
  border: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
}
@media (min-width: 992px) {
  .cleo-google-iframe {
    margin-top: 80px;
  }
}
.cleo-header__text {
  margin-top: 8px;
  margin-bottom: 8px;
  position: relative;
}
.cleo-header__text.is--cleopatra svg {
  width: 260px;
  height: 62px;
}
.cleo-header__text.is--calendar svg {
  width: 173px;
  height: 69px;
}
.cleo-header__text.is--logo svg {
  width: 96px;
  height: 96px;
}
@media (min-width: 768px) {
  .cleo-header__text {
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .cleo-header__text.is--cleopatra svg {
    width: 346px;
    height: 82px;
  }
  .cleo-header__text.is--calendar svg {
    width: 230px;
    height: 82px;
  }
  .cleo-header__text.is--logo svg {
    width: 128px;
    height: 128px;
  }
}
@media (min-width: 992px) {
  .cleo-header__text {
    margin-top: 24px;
    margin-bottom: 24px;
  }
}
@media (min-width: 1200px) {
  .cleo-header__text {
    margin-top: 32px;
    margin-bottom: 32px;
  }
  .cleo-header__text.is--cleopatra svg {
    width: 432px;
    height: 103px;
  }
  .cleo-header__text.is--calendar svg {
    width: 288px;
    height: 115px;
  }
  .cleo-header__text.is--logo svg {
    width: 160px;
    height: 160px;
  }
  .cleo-header__text.is--with-ul {
    width: 60%;
  }
}
.cleo-section {
  background-size: cover;
}
.cleo-section.is--main hr {
  border-color: rgba(255, 255, 255, 0) !important;
}
.cleo-section.is--main p,
.cleo-section.is--main ul {
  background-color: rgba(255, 255, 255, 0.6) !important;
  border-radius: 6px;
  padding: 1rem;
}
.cleo-section.is--main ul {
  text-align: left;
  padding: 1rem 2rem;
}
.cleo-section.is--main svg {
  display: inline-block;
  margin: 0 0.3rem;
}
.cleo-section.is--yellow-flower {
  background-position: center 30%;
  background-image: url("../img/yellow-flower-background.jpg");
}
.cleo-section.is--red-flower {
  background-position: center 30%;
  background-image: url("../img/red-flower-background.jpg");
}
.cleo-section.is--purple-flower {
  background-position: center 30%;
  background-image: url("../img/purple-flower-background.jpg");
}
.cleo-section.is--info {
  padding-top: 3rem;
  border-style: solid;
  border-color: #dee2e6;
  border-width: 100px 0 0 0;
}
.cleo-section.is--info p,
.cleo-section.is--info ul,
.cleo-section.is--info h2 {
  text-align: left;
}
.js-update-calendars.js--can-be-updated {
  cursor: pointer;
}
.js-update-calendars.js--cant-be-updated {
  color: #adb5bd;
  text-decoration: line-through;
}
.cleo-thumbnail {
  width: 80%;
  max-width: 80%;
  margin: 0 auto;
  margin-top: 1rem;
}
@media (max-width: 767px) {
  .cleo-thumbnail.is--video {
    min-height: 280px;
  }
}
@media (min-width: 768px) {
  .cleo-thumbnail {
    height: 188px;
    min-height: auto;
  }
}
@media (min-width: 992px) {
  .cleo-thumbnail {
    height: 256px;
    min-height: auto;
  }
}
@media (min-width: 1200px) {
  .cleo-thumbnail {
    height: 300px;
    min-height: auto;
  }
}
@media (min-width: 1400px){
  .container {
      max-width: 1340px;
  }
}
/*# sourceMappingURL=creative.min.css.map */
