// Bootstrap overrides for this template
.text-primary {
  color: $primary !important;
}

.btn {
  font-weight: 300;
  font-size: 1.2rem;
  text-transform: none;
  border: none;
  padding: 0.6rem 1.9rem;
  border-radius: 2rem;
  color: white;
  text-decoration: none !important;
}

.btn-xl {
  padding: 1rem 2rem;
}

.btn-primary {
  background-color: $primary;
  border-color: $primary;
  &:hover,
  &:focus,
  &:active {
    color: $white;
    background-color: darken($primary, 5%) !important;
  }
  &:active,
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(240, 95, 64,.5) !important;
  }
}

.btn-info {
  background-color: $cleo-purple-blue;
  border-color: $cleo-purple-blue;
  &:hover,
  &:focus,
  &:active {
    color: $white;
    background-color: darken($cleo-purple-blue, 15%) !important;
  }
  &:active,
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(114, 64, 240, .5) !important;
  }
}

.bg-secondary {
  background-color: #fefcff!important;
}

.form-control{
  padding: 0.5rem .75rem;
  border-radius: 1.5rem;
}

.alert{
  border-radius: 30px;
}

@for $i from 1 through 8 {
  .mt-#{$i} {
    margin-top: #{$i}rem !important;
  }
}
@for $i from 1 through 8 {
  .mb-#{$i} {
    margin-bottom: #{$i}rem !important;
  }
}

@media(min-width:768px){
  .mt-md-7{
    margin-top: 7rem;
  }
}

@media (min-width: 1400px){
  .container {
    max-width: 1340px;
  }
  .col-xxl-4{
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-xxl-6{
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xxl-8{
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
}
