/*--------------------------------------------------------------
# Faq
--------------------------------------------------------------*/

#accordionExample{
  width: 100%;
}

.card-header h3 a{
  text-decoration: none;
}

.card-header:hover h3 a{
  color:white;
  text-decoration: none;
}



.accordion > .card {
  overflow: hidden;
  border-radius:30px;
  margin-bottom: 0.6rem;  
  position: relative;
  display: flex;
  flex-direction: column;
  border: none;

  p{
    color: $box-color;
  }

  & > .card-header {
    padding: 0.6rem 1.7rem;
    background-color: $box-background;
    border: 1px solid $table-border-hover;
    border-radius: 30px;

    &:hover{
      background-color: $box-border-color;
    }

    a{
      text-decoration: none;
      font-size: 1rem;
    }

    & a:hover, & a:not(.collapsed) {
      color: $heading-color;
    }
  }
}


.collapse:not(.show) {
  display: none;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 2rem 2rem 1.5rem;
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height .35s ease;
}

/* Horizontal line */
.collapsible-link:before {
  content: '';
  width: 14px;
  height: 2px;
  background: $table-border-hover;
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  transition: all 0.3s;
  z-index: 2;
  display:none;

  @media(min-width:768px){
    display: block;
  }
}

/* Vertical line */
.collapsible-link::after {
  content: '';
  width: 2px;
  height: 14px;
  background: $table-border-hover;
  position: absolute;
  top: calc(50% - 7px);
  right: 6px;
  transition: all 0.3s;
  z-index: 2;
  display:none;

  @media(min-width:768px){
    display: block;
  }
}

.collapsible-link[aria-expanded='true']::after {
  transform: rotate(90deg) translateX(-1px);
}

.collapsible-link[aria-expanded='true']::before {
  transform: rotate(180deg);
}

.plus-back{
  position: absolute;
  right: -14px;
  width: 43px;
  height: 43px;
  background-color: #ffffff;
  top: -1px;
  border-radius: 50%;
  border: 1px solid $table-border-hover;
  display:none;

  @media(min-width:768px){
    display: block;
  }
}

.same-shadow {
  box-shadow: 0 0 9px 0px #f6d5f6;
}