// Global styling for this template

@font-face {
  font-family: 'Andika-R';
  src: url('../assets/Andika-R.ttf') format('truetype');
}
body,
html {
  width: 100%;
  height: 100%;
}
html{
  scroll-behavior: smooth;
}

body {
  @include serif-font;
  counter-reset: box;
  color: $body-color;
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: $primary;
}

hr.light {
  border-color: $white;
}

hr.dark {
  border-color: $hr;
}

.green{
  color: $green;
}
.red{
  color: $red;
}

a, .like--a {
  color: $primary-darker;
  cursor: pointer;
  text-decoration: underline;
  @include transition-all;
  &:hover {
    color: $link-hover;
    //color: #9643b6;
  }
}

.btn-main{
  background-color: $btn-main-color;
  border-color: $btn-main-color;

  &:hover,
  &:focus,
  &:active{
    background-color:$btn-main-color-hover;
    border-color: $btn-main-color-hover;
    color: $white;
  }

  &:active,
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(154,0,255,.25);
  }

  &-shine{
    box-shadow: 1px 1px 20px -3px $btn-main-shadow-color;
    
    &:hover{
      box-shadow: none;
    }
  }
}
.btn-main-outline{
  background-color: transparent;
  border: 1px solid $btn-main-color;
  color: $btn-main-color;

  &:active,
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(154,0,255,.25);
  }

  &:hover{
    background-color: $btn-main-color-hover;
    border: 1px solid transparent;
    color:white;
  }
}

.btn-info-outline{
  background-color: transparent;
  border: 1px solid $cleo-purple-blue;
  color: $cleo-purple-blue;

  &:active,
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(114, 64, 240, .5) !important;
  }
  &:hover{
    background-color: darken($cleo-purple-blue, 5%) !important;
    border: 1px solid transparent;
    color:white;
  }
}

.btn-bigger{
  padding: 0.8rem 2rem;
}
.btn-smaller{
  padding: .4rem 1.4rem;
  display: inline-table;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  //@include sans-serif-font;
  color: $heading-color;
} 

h1 {
  margin-bottom: 1.3rem;
  margin-top: 5rem;
  font-size:2.4rem;
  font-weight: bold;
}

h2 {
  margin-bottom: .5rem;
  margin-top: 0;
  font-size: 2rem;
  font-weight: bold;
}
h3 {
  margin-bottom: 2rem;
  margin-top: 0;
  font-size: 1.7rem;
  font-weight: bold;
}
h4 {
  font-size: 1.3rem;
  font-weight: bold;
}

@media (min-width: 992px) {
  h1 {
    font-size: 2.8rem;
  }
  h2 {
    font-size: 2.2rem;
  }
}
@media (min-width: 1200px) {
  h1 {
    font-size: 2.7rem;
  }
}
@media (min-width: 1600px) {
  h2 {
    font-size: 2.4rem;
  }
}

.subheading{
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.bg-primary {
  background-color: $primary !important;  /* #ebd4f7  */
  overflow: hidden;
}

.bg-dark {
  background-color: $gray-900 !important;
}

.text-faded {
  color: fade-out($white, .3);
}
.font-weight-bold {
  font-weight: $bold !important;
}

section {
  padding: 3rem 0;
  position: relative;

  @media(min-width:768px){
    padding: 6rem 0;
  }
}

::-moz-selection {
  color: $white;
  background: $gray-900;
  text-shadow: none;
}

::selection {
  color: $white;
  background: $gray-900;
  text-shadow: none;
}

img::selection {
  color: $white;
  background: transparent;
}

img::-moz-selection {
  color: $white;
  background: transparent;
}

/* kvuli #linkům a menu, které by je překrylo */
.link::before {
  display: block;
  content: " ";
  margin-top: -120px;
  height: 120px;
  visibility: hidden;
  pointer-events: none;
}

.box{
  & > div{
    padding: 24px;
    background: $box-background;
    border-radius: 4px;
    //box-shadow: 0 0 20px -2px rgba(145,145,145,.35);
    box-shadow: $box-shadow;
    position: relative;
    z-index: 1;
    margin: 0 -12px;
    color: $box-color;
    border: $box-border;
    min-height: 210px;
  
    a{
      text-decoration: underline;
    }

    @media(min-width:400px){
      padding: 40px;
      margin:0;
      border-radius: 30px;
    }

    @media(min-width:1200px){
      margin:0 15px;
    }

  }
  

  .kroky &:nth-of-type(2){
    margin-top: 80px;

    @media(min-width:768px){
      margin-top: 40px;
    }
  }
  .kroky &:nth-of-type(3){
    margin-top: 80px;

    @media(min-width:768px){
      margin-top: 0;
    }
  }

  .kroky &::before{
    counter-increment: box;
    content: "0" counter(box);
    position: absolute;
    z-index: 0;
    font-size: 7rem;
    font-weight: bold;
    color: #f8e6fa;      //#f6ddf8;//#f2bff2;
    top: -105px;
    left: 15px;
  }
  
  strong{
    font-size: 1.3rem;
    color: $heading-color;
    display: block;
    margin-bottom: 15px;
  }

}
.box-table{
  display: flex;
  box-shadow: $box-shadow;
  color: $box-color;
  border: $box-border;
  background: $box-background;
  margin-bottom: .5rem;
  @include transition-all;

  &, &__header{
    margin-left: -12px;
    margin-right: -12px;
    border-radius: 4px;
    padding: 10px 20px;

    @media(min-width:576px){
      margin-left: 0;
      margin-right: 0;
      border-radius: 30px; 
      padding: 10px 20px;
    }
  }

  &:hover{
    border-color: $table-border-hover;
  }

  div{
    flex-grow: 0;
    flex-shrink: 0;
    line-height: 2rem;
    border-radius: 17px;
    margin-right: .5rem;
    @include transition-all;
    font-weight: bold;

    span{
      color: $box-gray;
      font-size: .8rem;
      font-weight: normal;
      display: none;
    
      @media(min-width:576px){
        display: inline;
      }
    }

  }

  &__header{
    color: $box-gray;
    display: flex;
    padding: 10px 20px;
    text-align: left;
    font-size: .9rem;
 
    div{
      background-color: transparent !important;
      border-color: transparent !important;
      margin-right: .5rem;
      flex-grow: 0;
      flex-shrink: 0;
    }
    
  }

  &__num{
    flex-basis: 24px;
    margin-right: 10px;
    color: $box-gray;
    display: none;

    @media(min-width:576px){
      display: block;
    }
  }
  &__date{
    flex-basis: 60px;
    @media(min-width:576px){
      flex-basis: 90px;
    }
  }
  &__arrow{
    flex-basis: 11px;
    color: $box-gray;

    @media(min-width:576px){
      flex-basis: 21px;
    }
  }
  &__cycle-len{
    flex-basis: 40px;
    text-align: center;

    @media(min-width:576px){
      flex-basis: 96px;
    }
  }
  &__edit{
    flex-grow: 1 !important;
    display: flex;
    justify-content: flex-end;

    div{
      background-color:lighten($cleo-blue-logo,20%);
      color: $cleo-blue-logo;
      text-align: center;
      flex-basis: 34px;
      align-self: flex-end;
      margin-right: 0;
      border: 1px solid transparent;

      &:hover{
        background-color:lighten($cleo-blue-logo,15%);
        border: 1px solid $cleo-blue-logo;
      }
    }
    
    
  }
  &__delete{
    flex-basis: 34px;
    background-color: lighten($cleo-red-logo,20%);
    color: $cleo-red-logo;
    text-align: center;
    border: 1px solid transparent; 
    margin-right: -0.5rem !important;

    &:hover{
      background-color: lighten($cleo-red-logo,15%);
      border: 1px solid $cleo-red-logo;
    }
  }
}

.inline-heading{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 1rem;

  @media(min-width:480px){
    flex-direction: row;
    margin-bottom: 0;
  }

  span{
    font-size: 2.1rem;
    display: inline-block;
    line-height: 0.6rem;
    position: relative;
    top: 6px;
    left: -11px;
  }

  h3, a{
    display: inline-block;
    margin-bottom: 1.5rem;
    margin-left: 0.3rem;
  }
  a{
    position: relative;
    top: -1px;
  }
}

.nastaveni{
  display: flex;
  justify-content: space-between;

  h4, span{
    display: inline-block;
  }
  span{
    position: relative;
    top: -7px;
    right: -5px;
    padding: .58rem .58rem .6rem .6rem;
    margin-left: 1rem;
  }
}

.calendar-graphics{

  img{
    width: 100%;
    margin-left: 120px;
    margin-top: 40px;
    display:none;

    @media(min-width: 992px){
      display:block;
    }    
    @media(min-width: 1400px){
      width: 80%;
    }

  }
}

.calendar-right{
  position: absolute;
  right: 0px;
  bottom: -432px;
  z-index: 10;
  overflow: hidden;
  width: 300px;

  img{
    width: 100%;
    margin-left: 50px;
  }
}

.vizualni-zena{
  text-align: left;
  display: block;
  position: absolute;
  left: 2.2rem;
  width: 100%;

  span {
    font-style: italic;
    color: #e8b5e8;
    font-size: 1.7rem;
    display: block;
    margin-top: 0.9rem;
    margin-bottom: 0rem;
  }
  a{
    font-weight: bold;
    text-decoration: underline;
  }

  @media (min-width:1200px) {
    left: 6.8rem;
  }
}

ul.arrow{
  margin: 1.5rem 0 2.1rem;
  padding-left: 0;
  list-style-type:none;

  @media(min-width:768px){
    margin: 2rem 0 2.7rem;
  }

  li {
    line-height: 1.3rem;
    color: #937ba3;
    margin-bottom: 1.2rem;
    position: relative;
  }
  li::before{
    content: url(../img/pink-arrow.svg);
    margin: 0 1.1rem 0 0;
    width: 4px;
    font-size: 2rem;
    position: absolute;
    top: -3px;
    left: -30px;
  }

  strong{
    font-size: 1.1rem;
    color: #775e87;
  }
}

.perspective{
  perspective: none;
  perspective-origin: right 200px;

  iframe, img{
    filter: drop-shadow(33px 10px 32px #f9dce4);

    @media (min-width:1200px){
      transform: rotatey(343deg);
    }
  }  
  
  @media (min-width:1200px){
    perspective: 1200px;
  }
}

.border-top{
  border-top: $box-border;
  padding-top: 1rem;
}

.italic-gray{
  font-style: italic;
  color: $box-gray;
}
.italic-pink{
  font-style: italic;
  color: $cleo-purple-logo;
}

.circle-number{
  position: absolute;
  left: -55px;
  bottom: -6px;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fad3ff;
  text-align: center;
  padding-top: 5px;
  color: #ca99ce;
  font-size: 19px;
}

.alert-primary-lighter {
  background-color: #e8f3ff;
}

.before-sale{
  text-decoration: line-through;
  color:$cleo-red-logo;
  font-weight: normal;
    font-size: 1.1rem;
}

.box-left-line{
  margin-left: -35px;
  padding-left: 35px;
  border-left: 1px solid #fad3ff;
}