// Styling for the masthead

.masthead {
/*   padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  background-image: url('../img/header-s-tiny.png'); */
  background-position: center center;
  @include background-cover;
  background: $masthead-background;
  background: linear-gradient(120deg, $masthead-background-gradient-1, $masthead-background-gradient-2);
  position: relative;
  overflow: hidden;
  min-height: 650px;

  ul li {
    line-height: 2rem;
    color:$body-color;
    margin-bottom: 0;
    font-size: 0.9rem;

    @media(min-width:480px){
      font-size: 1rem;
    }
  
    &::before{
      position: relative;
      left: 0px;
      top: 3px;
    }
  }



  hr {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  p {
    font-weight: 100;
    font-size: 1.2rem;
    line-height: 1;
  }

  .btn{
    min-width:230px;
  }

  @media (min-width: 768px) {
    p {
      font-size: 1.5rem;
      line-height: 1.1;
    }
  }
  @media (min-width: 992px) {
    height: 100vh;
    padding-top: 0;
    padding-bottom: 0;
  }

}

.hero-back{
  position: absolute;
  right: 0vw;
  bottom: 0;
  z-index: 1;
  height: 61vh;
}
.hero-front{
  position: absolute;
  right: 10vw;
  bottom: 0;
  z-index: 2;
  height: 87vh;
  display: none;
  filter: drop-shadow(1px 1px 29px $btn-main-shadow-color);
}
.hero-left{
  position: absolute;
  left: -60px;
  top: 32%;
  z-index: 0;
  height: 90px;
}

.hero-text{
  position: relative;
  z-index: 3;
}

.hero-links{
  display: flex;
  flex-direction: column;
  width: 290px;

  a{
    margin-right: 12px;
  }
}

@media(min-width:768px){
  .hero-back{
    right: 3vw;
    height: 65vh;
  }
  .hero-front{
    right: -22vw;
    height: 74vh;
    display: block;
  }
}

@media(min-width:992px){
  .hero-back{
    right: 15vw;
    height: 75vh;
  }
  .hero-front{
    right: -13vw;
    height: 87vh;
  }
  .hero-links{
    flex-direction: row;
  }
}
@media(min-width:1200px){
  .hero-back{
    right: 30vw;
  }
  .hero-front{
    right: 10vw;
  }
}
