// Styling for the navbar
#mainNav {
  border-bottom: 1px solid fade-out($gray-900, .9);
  background-color: $white;
  padding: 0.5rem 0;
  //@include sans-serif-font;
  @include transition-all;
  .navbar-brand {
    font-weight: $bold;
    text-transform: uppercase;
    color: $primary;

    &:focus,
    &:hover {
      color: darken($primary, .1);
    }
  }
  .navbar-nav {
    > li.nav-item {
       > a.nav-link,
      > a.nav-link:focus {
        font-size: .9rem;
        font-weight: $bold;
        text-transform: uppercase;
        color: $gray-900;
        &:hover {
          color: $primary;
        }
        &.active {
          color: $primary !important;
          background-color: transparent;
          &:hover {
            background-color: transparent;
          }
        }
      }
    }
  }
  @media (min-width: 992px) {
    border-color: transparent;
    background-color: transparent;
    .navbar-brand {
      color: fade-out($white, .3);
      &:focus,
      &:hover {
        color: $white;
      }
    }
    //.navbar-nav > li.nav-item > a.nav-link {
    //  padding: 0.5rem 1rem;
    //}
    .navbar-nav > li.nav-item > a.nav-link,
    .navbar-nav > li.nav-item > a.nav-link:focus {
      color: fade-out($white, .3);
      &:hover {
        color: $white;
      }
    }
    &.navbar-shrink {
      border-bottom: 1px solid fade-out($gray-900, .9);
      background-color: $white;
      .navbar-brand {
        color: $primary;
        &:focus,
        &:hover {
          color: darken($primary, .1);
        }
      }
      .navbar-nav > li.nav-item > a.nav-link,
      .navbar-nav > li.nav-item > a.nav-link:focus {
        color: $gray-900;
        &:hover {
          color: $primary;
        }
      }
    }
  }
}


/*------------- site mobile menu left ----------------**
**-added by: Honza K. --------------------------------*/


.site-navbar {
  margin-bottom: 0px;
  z-index: 1000;
  position: fixed;
  top: 0;
  width: 100%;
  }
  
  .site-navbar .site-logo {
  position: relative;
  font-size: 1.3rem;
  transition: all .2s;
  }
  
  .site-navbar a .site-logo {
  color: #ffffff;
  font-weight: 300;
  padding-top: 10px;
  }
  
  .site-logo span{
  position: relative;
  top: 0px;
  left: 5px;
  color: #96724e;
  transition: all .3s ease;
  }
  .site-logo:hover {
  filter: brightness(1.4);
  }
  
  
  .site-logo img {
    width: 40px;
  }
  
  .site-navbar a:hover {
  text-decoration: none;
  }
  
  .site-menu {
  margin-bottom: 0;
  padding-left: 0;
  }
  
  .site-menu a {
  text-decoration: none !important;
  /* display: inline-block; */
  }
  
  .site-menu > li {
  display: inline-block;
  }
  

  
  .shrink {
    transition: all 0.4s ease 0s;
  }
  
  .site-navbar.shrink a .site-logo {
  padding-top: 0 !important;
  }
  
  .shrink .site-menu > li > a {
  /*👉color: #799765;👈*/
  padding: 20px 20px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  }
  
  .shrink .site-menu > li > a:hover, .shrink .site-menu > li > a.active{
  color: white;
  }
  
  .site-mobile-menu {
  width: 300px;
  position: fixed;
  right: 0;
  z-index: 2000;
  padding-top: 20px;
  background: $cleo-purple-blue;
  height: calc(100vh);
  -webkit-transform: translateX(110%);
  transform: translateX(110%);
  box-shadow: 1px 0px 20px 6px rgb(0, 0, 0, 27%);
  transition: .3s all ease-in-out;
  }
  
  .offcanvas-menu .site-mobile-menu {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  }
  
  .site-mobile-menu .site-mobile-menu-header {
  width: 100%;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
  }
  
  .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
    float: right;
    margin-top: 8px;
    margin-right: 10px;
  }
  
  .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
  font-size: 2.4rem;
  display: inline-block;
  padding-left: 10px;
  padding-right: 0px;
  line-height: 1;
  cursor: pointer;
  transition: .3s all ease;
  color: white;
  }
  
  .site-mobile-menu .site-mobile-menu-body {
  -webkit-overflow-scrolling: touch;
  position: relative;
  height: calc(100vh - 52px);
  margin-top: 70px;
  }
  
  .site-mobile-menu .site-nav-wrap {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  }
  
  .site-mobile-menu .site-nav-wrap a {
  display: block;
  position: relative;
  }
  
  .site-mobile-menu .site-nav-wrap a:hover {
  text-decoration:underline;
  }
  
  .site-mobile-menu .site-nav-wrap li {
  position: relative;
  display: block;
  }
  
  .site-mobile-menu .site-nav-wrap > li {
  display: block;
  position: relative;
  float: left;
  width: 100%;
  }
  
  .site-mobile-menu .site-nav-wrap > li > a {
  padding-left: 20px;
  font-size: 1.25rem;
  color: white;
  }

  .site-mobile-menu .btn-main{
    background-color: white;
    color: $cleo-purple-blue !important;
    font-weight: bold;
    margin-right: 20px;
    box-shadow: none;

    &:hover{
      background-color: $btn-main-color;
    }
  }

  
  /* Burger */
  
  .burger {
  width: 28px;
  height: 32px;
  cursor: pointer;
  position: relative;
  z-index: 99;
  float: right;
  margin-right: 0;
  }
  
  .burger:before,
  .burger span,
  .burger:after {
  width: 100%;
  height: 2px;
  display: block;
  border-radius: 2px;
  position: absolute;
  opacity: 1;
  background: $btn-main-color;
  visibility: visible;
  }
  .burger:before:hover,
  .burger span:hover,
  .burger:after:hover {
  background: #ffffff;
  }
  
  .burger:before,
  .burger:after {
  transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1), background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.35s cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), transform 0.35s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1), background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1);
  transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), transform 0.35s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1), background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.35s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.35s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1), background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1);
  content: "";
  }
  
  .burger:before {
  top: 4px;
  }
  
  .burger span {
  top: 15px;
  }
  
  .burger:after {
  top: 26px;
  }
  
  .burger:hover:before {
  top: 7px;
  }
  
  .burger:hover:after {
  top: 23px;
  }
  
  .burger.active span {
  opacity: 0;
  }
  
  .burger.active:before,
  .burger.active:after {
  top: 40%;
  }
  
  .burger.active:before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=5);
  /*for IE*/
  }
  
  .burger.active:after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=-5);
  /*for IE*/
  }
  
  .burger:focus {
  outline: none;
  }
