$prtfl-circle-distance: 1.5rem;
$prtfl-circle-size: 2.5rem;

// Styling for the portfolio section

.faze-foto{
  position: absolute;
  top: -75px;
  max-width: 263px;
  left: calc(50% - 75px);

/*   width: 40%;
  position: absolute;
  top: 0px;
  left: -70px;
  max-width: 263px; */

  @media(min-width:768px){
    width: 30%;
    top: -30px;
    left: -40px;
  }

  img {
    border-radius: 35px;
    position: relative;
    box-shadow: -6px -5px 28px -19px $box-shadow-pink;
    border: 10px solid;
    width: 150px;

    @media(min-width:768px){
      width: 100%;
    }
  }
}

.partneri-foto{
  position: absolute;
  max-width: 220px;
  top: 0;
  left: 0;
  height: 100%;
  border-left: 4px solid $box-left-border;
  border-radius: 28px;
  padding: 20px;
  
  a, a picture{
    display: flex;
    height: 100%;
    
    img {
      align-self: center;
      justify-self: center;
      width: 90%;
      display: none;

      @media(min-width:768px){
        display: block;
      }
      @media(min-width:992px){
        width: 100%;
      }
    }
  }
  
}

.faze-text{
  margin-top: 50px;
}

.faze-text, .partneri-text{
  width: 100%;
  margin-left: 0;

  @media(min-width:768px){
    width: 70%;
    margin-left: 29%;
    margin-top: 0;
  }

}

.faze-right{
  margin-left: auto;

  .faze-foto{
    left: calc(50% - 75px);
  
    @media(min-width:768px){
      left: auto;
      right: -40px;
    }

    img{
      box-shadow: 6px -5px 28px -19px $box-shadow-pink;
    }
  }
  .faze-text{
    margin-left:12px;
  }

}



.portfolio-box {
  display: flex;
  flex-direction: row;
  margin-top: 4rem !important;

  @media(min-width:768px){
    margin-top: 1rem !important;
  }

  img{
    &.is--yellow{
      border-color: $cleo-yellow-logo;
    }
    &.is--red{
      border-color: $cleo-red-logo;
    }
    &.is--purple{
      border-color: $cleo-purple-logo;
    }
    &.is--blue{
      border-color: $cleo-blue-logo;
    }
  }
  &::before {
    content: url(../img/hero-left-circle.svg);
    position: absolute;
    z-index: 0;
    height: 100%;
    width: 100%;
    display:none;
  } 
  
  .portfolio-box__circle {
    position: absolute;
    top: $prtfl-circle-distance;
    width: $prtfl-circle-size * 2;
    height: $prtfl-circle-size * 2;
    border-radius: 50%;
    opacity: 1;
    &.is--yellow {
      left: $prtfl-circle-distance;
      background-color: $cleo-yellow;
    }

    &.is--red {
      right: $prtfl-circle-distance;
      background-color: $cleo-red;
    }

    &.is--purple {
      left: $prtfl-circle-distance;
      background-color: $cleo-purple;
    }

    &.is--blue {
      right: $prtfl-circle-distance;
      background-color: $cleo-blue;
    }

    @include transition-all;

    @media (min-width: 992px) {
      width: $prtfl-circle-size;
      height: $prtfl-circle-size;
    }
  }
}
