#thepay-methods-div-content ul li a img {
  border: 1px #ffcefa solid !important;
  border-radius: 15px;
  padding: 12px;
  width: 100px;
  height: 100px;
  background: radial-gradient(white 63%, #ffefff 100%);
  box-shadow: 3px 3px 8px -7px black;
  @include transition-all;
}
#thepay-methods-div-content ul li:hover a img {
  box-shadow: none;
  border: 1px solid #dc98d8 !important;
}

.payment-buttons{
  margin-left: -14px;
}
