// Variables

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$body-color: #444;

$primary: #fcf2fc !default; //#f4ccf5 !default;//#ebd4f7 !default;  //#d398e0 !default;
$primary-darker: #9e6ab3 !default;
$link-hover: #dd88ff;

$hr: #cea1ce;

$cleo-yellow: #ffff00 !default;
$cleo-red: #fe0000 !default;
$cleo-purple: #a600de !default;
$cleo-blue: #007fff !default;

$cleo-yellow-logo: #f5f570 !default;
$cleo-red-logo: #fc7878 !default;
$cleo-purple-logo: #dd82fb !default;
$cleo-blue-logo: #68b2fb !default;

//$cleo-purple-blue: #2f195f !default;
$cleo-purple-blue: #6246a0 !default;

$masthead-background: #f9e5ff;
$masthead-background-gradient-1: #fff8F8;
$masthead-background-gradient-2: #f4ccff;

$heading-color: #554361;
$green:#21a321;
$red:#ff0000;

$btn-main-color: $cleo-purple-logo;
$btn-main-color-hover: #b579cd; 
$btn-main-shadow-color: #d28fda;

$box-shadow-pink: #d750d7;
$box-shadow: 0 0 20px -2px rgba(145,145,145,.12);
$box-border-color: #f9e6f9;
$box-border: 1px solid $box-border-color;
$box-color:#816693;
$box-background: white;//#fefbfe;//#fae5fa;
$box-gray: #c4c4c4;
$box-left-border: #e2c8e2;

$table-border-hover: darken($box-border-color,5%);


$google-gray: rgba(0,0,0,0.54);

$ico-font-size-m: 1.5rem;
$ico-font-size-x: 2rem;

$bold: 700;
