@font-face {
  font-family: 'IcoMoon-Free';
  src: url('../assets/IcoMoon-Free.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.cleo-icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'IcoMoon-Free' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    position: relative;
    top: 2px;

    /* Enable Ligatures ================ */
    letter-spacing: 0;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    -o-font-feature-settings: "liga";
    font-feature-settings: "liga";

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

  &.is--home:before {
      content: "\e900";
  }
  &.is--home2:before {
      content: "\e901";
  }
  &.is--home3:before {
      content: "\e902";
  }
  &.is--office:before {
      content: "\e903";
  }
  &.is--newspaper:before {
      content: "\e904";
  }
  &.is--pencil:before {
      content: "\e905";
  }
  &.is--pencil2:before {
      content: "\e906";
  }
  &.is--quill:before {
      content: "\e907";
  }
  &.is--pen:before {
      content: "\e908";
  }
  &.is--blog:before {
      content: "\e909";
  }
  &.is--eyedropper:before {
      content: "\e90a";
  }
  &.is--droplet:before {
      content: "\e90b";
  }
  &.is--paint-format:before {
      content: "\e90c";
  }
  &.is--image:before {
      content: "\e90d";
  }
  &.is--images:before {
      content: "\e90e";
  }
  &.is--camera:before {
      content: "\e90f";
  }
  &.is--headphones:before {
      content: "\e910";
  }
  &.is--music:before {
      content: "\e911";
  }
  &.is--play:before {
      content: "\e912";
  }
  &.is--film:before {
      content: "\e913";
  }
  &.is--video-camera:before {
      content: "\e914";
  }
  &.is--dice:before {
      content: "\e915";
  }
  &.is--pacman:before {
      content: "\e916";
  }
  &.is--spades:before {
      content: "\e917";
  }
  &.is--clubs:before {
      content: "\e918";
  }
  &.is--diamonds:before {
      content: "\e919";
  }
  &.is--bullhorn:before {
      content: "\e91a";
  }
  &.is--connection:before {
      content: "\e91b";
  }
  &.is--podcast:before {
      content: "\e91c";
  }
  &.is--feed:before {
      content: "\e91d";
  }
  &.is--mic:before {
      content: "\e91e";
  }
  &.is--book:before {
      content: "\e91f";
  }
  &.is--books:before {
      content: "\e920";
  }
  &.is--library:before {
      content: "\e921";
  }
  &.is--file-text:before {
      content: "\e922";
  }
  &.is--profile:before {
      content: "\e923";
  }
  &.is--file-empty:before {
      content: "\e924";
  }
  &.is--files-empty:before {
      content: "\e925";
  }
  &.is--file-text2:before {
      content: "\e926";
  }
  &.is--file-picture:before {
      content: "\e927";
  }
  &.is--file-music:before {
      content: "\e928";
  }
  &.is--file-play:before {
      content: "\e929";
  }
  &.is--file-video:before {
      content: "\e92a";
  }
  &.is--file-zip:before {
      content: "\e92b";
  }
  &.is--copy:before {
      content: "\e92c";
  }
  &.is--paste:before {
      content: "\e92d";
  }
  &.is--stack:before {
      content: "\e92e";
  }
  &.is--folder:before {
      content: "\e92f";
  }
  &.is--folder-open:before {
      content: "\e930";
  }
  &.is--folder-plus:before {
      content: "\e931";
  }
  &.is--folder-minus:before {
      content: "\e932";
  }
  &.is--folder-download:before {
      content: "\e933";
  }
  &.is--folder-upload:before {
      content: "\e934";
  }
  &.is--price-tag:before {
      content: "\e935";
  }
  &.is--price-tags:before {
      content: "\e936";
  }
  &.is--barcode:before {
      content: "\e937";
  }
  &.is--qrcode:before {
      content: "\e938";
  }
  &.is--ticket:before {
      content: "\e939";
  }
  &.is--cart:before {
      content: "\e93a";
  }
  &.is--coin-dollar:before {
      content: "\e93b";
  }
  &.is--coin-euro:before {
      content: "\e93c";
  }
  &.is--coin-pound:before {
      content: "\e93d";
  }
  &.is--coin-yen:before {
      content: "\e93e";
  }
  &.is--credit-card:before {
      content: "\e93f";
  }
  &.is--calculator:before {
      content: "\e940";
  }
  &.is--lifebuoy:before {
      content: "\e941";
  }
  &.is--phone:before {
      content: "\e942";
  }
  &.is--phone-hang-up:before {
      content: "\e943";
  }
  &.is--address-book:before {
      content: "\e944";
  }
  &.is--envelop:before {
      content: "\e945";
  }
  &.is--pushpin:before {
      content: "\e946";
  }
  &.is--location:before {
      content: "\e947";
  }
  &.is--location2:before {
      content: "\e948";
  }
  &.is--compass:before {
      content: "\e949";
  }
  &.is--compass2:before {
      content: "\e94a";
  }
  &.is--map:before {
      content: "\e94b";
  }
  &.is--map2:before {
      content: "\e94c";
  }
  &.is--history:before {
      content: "\e94d";
  }
  &.is--clock:before {
      content: "\e94e";
  }
  &.is--clock2:before {
      content: "\e94f";
  }
  &.is--alarm:before {
      content: "\e950";
  }
  &.is--bell:before {
      content: "\e951";
  }
  &.is--stopwatch:before {
      content: "\e952";
  }
  &.is--calendar:before {
      content: "\e953";
  }
  &.is--printer:before {
      content: "\e954";
  }
  &.is--keyboard:before {
      content: "\e955";
  }
  &.is--display:before {
      content: "\e956";
  }
  &.is--laptop:before {
      content: "\e957";
  }
  &.is--mobile:before {
      content: "\e958";
  }
  &.is--mobile2:before {
      content: "\e959";
  }
  &.is--tablet:before {
      content: "\e95a";
  }
  &.is--tv:before {
      content: "\e95b";
  }
  &.is--drawer:before {
      content: "\e95c";
  }
  &.is--drawer2:before {
      content: "\e95d";
  }
  &.is--box-add:before {
      content: "\e95e";
  }
  &.is--box-remove:before {
      content: "\e95f";
  }
  &.is--download:before {
      content: "\e960";
  }
  &.is--upload:before {
      content: "\e961";
  }
  &.is--floppy-disk:before {
      content: "\e962";
  }
  &.is--drive:before {
      content: "\e963";
  }
  &.is--database:before {
      content: "\e964";
  }
  &.is--undo:before {
      content: "\e965";
  }
  &.is--redo:before {
      content: "\e966";
  }
  &.is--undo2:before {
      content: "\e967";
  }
  &.is--redo2:before {
      content: "\e968";
  }
  &.is--forward:before {
      content: "\e969";
  }
  &.is--reply:before {
      content: "\e96a";
  }
  &.is--bubble:before {
      content: "\e96b";
  }
  &.is--bubbles:before {
      content: "\e96c";
  }
  &.is--bubbles2:before {
      content: "\e96d";
  }
  &.is--bubble2:before {
      content: "\e96e";
  }
  &.is--bubbles3:before {
      content: "\e96f";
  }
  &.is--bubbles4:before {
      content: "\e970";
  }
  &.is--user:before {
      content: "\e971";
  }
  &.is--users:before {
      content: "\e972";
  }
  &.is--user-plus:before {
      content: "\e973";
  }
  &.is--user-minus:before {
      content: "\e974";
  }
  &.is--user-check:before {
      content: "\e975";
  }
  &.is--user-tie:before {
      content: "\e976";
  }
  &.is--quotes-left:before {
      content: "\e977";
  }
  &.is--quotes-right:before {
      content: "\e978";
  }
  &.is--hour-glass:before {
      content: "\e979";
  }
  &.is--spinner:before {
      content: "\e97a";
  }
  &.is--spinner2:before {
      content: "\e97b";
  }
  &.is--spinner3:before {
      content: "\e97c";
  }
  &.is--spinner4:before {
      content: "\e97d";
  }
  &.is--spinner5:before {
      content: "\e97e";
  }
  &.is--spinner6:before {
      content: "\e97f";
  }
  &.is--spinner7:before {
      content: "\e980";
  }
  &.is--spinner8:before {
      content: "\e981";
  }
  &.is--spinner9:before {
      content: "\e982";
  }
  &.is--spinner10:before {
      content: "\e983";
  }
  &.is--spinner11:before {
      content: "\e984";
  }
  &.is--binoculars:before {
      content: "\e985";
  }
  &.is--search:before {
      content: "\e986";
  }
  &.is--zoom-in:before {
      content: "\e987";
  }
  &.is--zoom-out:before {
      content: "\e988";
  }
  &.is--enlarge:before {
      content: "\e989";
  }
  &.is--shrink:before {
      content: "\e98a";
  }
  &.is--enlarge2:before {
      content: "\e98b";
  }
  &.is--shrink2:before {
      content: "\e98c";
  }
  &.is--key:before {
      content: "\e98d";
  }
  &.is--key2:before {
      content: "\e98e";
  }
  &.is--lock:before {
      content: "\e98f";
  }
  &.is--unlocked:before {
      content: "\e990";
  }
  &.is--wrench:before {
      content: "\e991";
  }
  &.is--equalizer:before {
      content: "\e992";
  }
  &.is--equalizer2:before {
      content: "\e993";
  }
  &.is--cog:before {
      content: "\e994";
  }
  &.is--cogs:before {
      content: "\e995";
  }
  &.is--hammer:before {
      content: "\e996";
  }
  &.is--magic-wand:before {
      content: "\e997";
  }
  &.is--aid-kit:before {
      content: "\e998";
  }
  &.is--bug:before {
      content: "\e999";
  }
  &.is--pie-chart:before {
      content: "\e99a";
  }
  &.is--stats-dots:before {
      content: "\e99b";
  }
  &.is--stats-bars:before {
      content: "\e99c";
  }
  &.is--stats-bars2:before {
      content: "\e99d";
  }
  &.is--trophy:before {
      content: "\e99e";
  }
  &.is--gift:before {
      content: "\e99f";
  }
  &.is--glass:before {
      content: "\e9a0";
  }
  &.is--glass2:before {
      content: "\e9a1";
  }
  &.is--mug:before {
      content: "\e9a2";
  }
  &.is--spoon-knife:before {
      content: "\e9a3";
  }
  &.is--leaf:before {
      content: "\e9a4";
  }
  &.is--rocket:before {
      content: "\e9a5";
  }
  &.is--meter:before {
      content: "\e9a6";
  }
  &.is--meter2:before {
      content: "\e9a7";
  }
  &.is--hammer2:before {
      content: "\e9a8";
  }
  &.is--fire:before {
      content: "\e9a9";
  }
  &.is--lab:before {
      content: "\e9aa";
  }
  &.is--magnet:before {
      content: "\e9ab";
  }
  &.is--bin:before {
      content: "\e9ac";
  }
  &.is--bin2:before {
      content: "\e9ad";
  }
  &.is--briefcase:before {
      content: "\e9ae";
  }
  &.is--airplane:before {
      content: "\e9af";
  }
  &.is--truck:before {
      content: "\e9b0";
  }
  &.is--road:before {
      content: "\e9b1";
  }
  &.is--accessibility:before {
      content: "\e9b2";
  }
  &.is--target:before {
      content: "\e9b3";
  }
  &.is--shield:before {
      content: "\e9b4";
  }
  &.is--power:before {
      content: "\e9b5";
  }
  &.is--switch:before {
      content: "\e9b6";
  }
  &.is--power-cord:before {
      content: "\e9b7";
  }
  &.is--clipboard:before {
      content: "\e9b8";
  }
  &.is--list-numbered:before {
      content: "\e9b9";
  }
  &.is--list:before {
      content: "\e9ba";
  }
  &.is--list2:before {
      content: "\e9bb";
  }
  &.is--tree:before {
      content: "\e9bc";
  }
  &.is--menu:before {
      content: "\e9bd";
  }
  &.is--menu2:before {
      content: "\e9be";
  }
  &.is--menu3:before {
      content: "\e9bf";
  }
  &.is--menu4:before {
      content: "\e9c0";
  }
  &.is--cloud:before {
      content: "\e9c1";
  }
  &.is--cloud-download:before {
      content: "\e9c2";
  }
  &.is--cloud-upload:before {
      content: "\e9c3";
  }
  &.is--cloud-check:before {
      content: "\e9c4";
  }
  &.is--download2:before {
      content: "\e9c5";
  }
  &.is--upload2:before {
      content: "\e9c6";
  }
  &.is--download3:before {
      content: "\e9c7";
  }
  &.is--upload3:before {
      content: "\e9c8";
  }
  &.is--sphere:before {
      content: "\e9c9";
  }
  &.is--earth:before {
      content: "\e9ca";
  }
  &.is--link:before {
      content: "\e9cb";
  }
  &.is--flag:before {
      content: "\e9cc";
  }
  &.is--attachment:before {
      content: "\e9cd";
  }
  &.is--eye:before {
      content: "\e9ce";
  }
  &.is--eye-plus:before {
      content: "\e9cf";
  }
  &.is--eye-minus:before {
      content: "\e9d0";
  }
  &.is--eye-blocked:before {
      content: "\e9d1";
  }
  &.is--bookmark:before {
      content: "\e9d2";
  }
  &.is--bookmarks:before {
      content: "\e9d3";
  }
  &.is--sun:before {
      content: "\e9d4";
  }
  &.is--contrast:before {
      content: "\e9d5";
  }
  &.is--brightness-contrast:before {
      content: "\e9d6";
  }
  &.is--star-empty:before {
      content: "\e9d7";
  }
  &.is--star-half:before {
      content: "\e9d8";
  }
  &.is--star-full:before {
      content: "\e9d9";
  }
  &.is--heart:before {
      content: "\e9da";
  }
  &.is--heart-broken:before {
      content: "\e9db";
  }
  &.is--man:before {
      content: "\e9dc";
  }
  &.is--woman:before {
      content: "\e9dd";
  }
  &.is--man-woman:before {
      content: "\e9de";
  }
  &.is--happy:before {
      content: "\e9df";
  }
  &.is--happy2:before {
      content: "\e9e0";
  }
  &.is--smile:before {
      content: "\e9e1";
  }
  &.is--smile2:before {
      content: "\e9e2";
  }
  &.is--tongue:before {
      content: "\e9e3";
  }
  &.is--tongue2:before {
      content: "\e9e4";
  }
  &.is--sad:before {
      content: "\e9e5";
  }
  &.is--sad2:before {
      content: "\e9e6";
  }
  &.is--wink:before {
      content: "\e9e7";
  }
  &.is--wink2:before {
      content: "\e9e8";
  }
  &.is--grin:before {
      content: "\e9e9";
  }
  &.is--grin2:before {
      content: "\e9ea";
  }
  &.is--cool:before {
      content: "\e9eb";
  }
  &.is--cool2:before {
      content: "\e9ec";
  }
  &.is--angry:before {
      content: "\e9ed";
  }
  &.is--angry2:before {
      content: "\e9ee";
  }
  &.is--evil:before {
      content: "\e9ef";
  }
  &.is--evil2:before {
      content: "\e9f0";
  }
  &.is--shocked:before {
      content: "\e9f1";
  }
  &.is--shocked2:before {
      content: "\e9f2";
  }
  &.is--baffled:before {
      content: "\e9f3";
  }
  &.is--baffled2:before {
      content: "\e9f4";
  }
  &.is--confused:before {
      content: "\e9f5";
  }
  &.is--confused2:before {
      content: "\e9f6";
  }
  &.is--neutral:before {
      content: "\e9f7";
  }
  &.is--neutral2:before {
      content: "\e9f8";
  }
  &.is--hipster:before {
      content: "\e9f9";
  }
  &.is--hipster2:before {
      content: "\e9fa";
  }
  &.is--wondering:before {
      content: "\e9fb";
  }
  &.is--wondering2:before {
      content: "\e9fc";
  }
  &.is--sleepy:before {
      content: "\e9fd";
  }
  &.is--sleepy2:before {
      content: "\e9fe";
  }
  &.is--frustrated:before {
      content: "\e9ff";
  }
  &.is--frustrated2:before {
      content: "\ea00";
  }
  &.is--crying:before {
      content: "\ea01";
  }
  &.is--crying2:before {
      content: "\ea02";
  }
  &.is--point-up:before {
      content: "\ea03";
  }
  &.is--point-right:before {
      content: "\ea04";
  }
  &.is--point-down:before {
      content: "\ea05";
  }
  &.is--point-left:before {
      content: "\ea06";
  }
  &.is--warning:before {
      content: "\ea07";
  }
  &.is--notification:before {
      content: "\ea08";
  }
  &.is--question:before {
      content: "\ea09";
  }
  &.is--plus:before {
      content: "\ea0a";
  }
  &.is--minus:before {
      content: "\ea0b";
  }
  &.is--info:before {
      content: "\ea0c";
  }
  &.is--cancel-circle:before {
      content: "\ea0d";
  }
  &.is--blocked:before {
      content: "\ea0e";
  }
  &.is--cross:before {
      content: "\ea0f";
  }
  &.is--checkmark:before {
      content: "\ea10";
  }
  &.is--checkmark2:before {
      content: "\ea11";
  }
  &.is--spell-check:before {
      content: "\ea12";
  }
  &.is--enter:before {
      content: "\ea13";
  }
  &.is--exit:before {
      content: "\ea14";
  }
  &.is--play2:before {
      content: "\ea15";
  }
  &.is--pause:before {
      content: "\ea16";
  }
  &.is--stop:before {
      content: "\ea17";
  }
  &.is--previous:before {
      content: "\ea18";
  }
  &.is--next:before {
      content: "\ea19";
  }
  &.is--backward:before {
      content: "\ea1a";
  }
  &.is--forward2:before {
      content: "\ea1b";
  }
  &.is--play3:before {
      content: "\ea1c";
  }
  &.is--pause2:before {
      content: "\ea1d";
  }
  &.is--stop2:before {
      content: "\ea1e";
  }
  &.is--backward2:before {
      content: "\ea1f";
  }
  &.is--forward3:before {
      content: "\ea20";
  }
  &.is--first:before {
      content: "\ea21";
  }
  &.is--last:before {
      content: "\ea22";
  }
  &.is--previous2:before {
      content: "\ea23";
  }
  &.is--next2:before {
      content: "\ea24";
  }
  &.is--eject:before {
      content: "\ea25";
  }
  &.is--volume-high:before {
      content: "\ea26";
  }
  &.is--volume-medium:before {
      content: "\ea27";
  }
  &.is--volume-low:before {
      content: "\ea28";
  }
  &.is--volume-mute:before {
      content: "\ea29";
  }
  &.is--volume-mute2:before {
      content: "\ea2a";
  }
  &.is--volume-increase:before {
      content: "\ea2b";
  }
  &.is--volume-decrease:before {
      content: "\ea2c";
  }
  &.is--loop:before {
      content: "\ea2d";
  }
  &.is--loop2:before {
      content: "\ea2e";
  }
  &.is--infinite:before {
      content: "\ea2f";
  }
  &.is--shuffle:before {
      content: "\ea30";
  }
  &.is--arrow-up-left:before {
      content: "\ea31";
  }
  &.is--arrow-up:before {
      content: "\ea32";
  }
  &.is--arrow-up-right:before {
      content: "\ea33";
  }
  &.is--arrow-right:before {
      content: "\ea34";
  }
  &.is--arrow-down-right:before {
      content: "\ea35";
  }
  &.is--arrow-down:before {
      content: "\ea36";
  }
  &.is--arrow-down-left:before {
      content: "\ea37";
  }
  &.is--arrow-left:before {
      content: "\ea38";
  }
  &.is--arrow-up-left2:before {
      content: "\ea39";
  }
  &.is--arrow-up2:before {
      content: "\ea3a";
  }
  &.is--arrow-up-right2:before {
      content: "\ea3b";
  }
  &.is--arrow-right2:before {
      content: "\ea3c";
  }
  &.is--arrow-down-right2:before {
      content: "\ea3d";
  }
  &.is--arrow-down2:before {
      content: "\ea3e";
  }
  &.is--arrow-down-left2:before {
      content: "\ea3f";
  }
  &.is--arrow-left2:before {
      content: "\ea40";
  }
  &.is--circle-up:before {
      content: "\ea41";
  }
  &.is--circle-right:before {
      content: "\ea42";
  }
  &.is--circle-down:before {
      content: "\ea43";
  }
  &.is--circle-left:before {
      content: "\ea44";
  }
  &.is--tab:before {
      content: "\ea45";
  }
  &.is--move-up:before {
      content: "\ea46";
  }
  &.is--move-down:before {
      content: "\ea47";
  }
  &.is--sort-alpha-asc:before {
      content: "\ea48";
  }
  &.is--sort-alpha-desc:before {
      content: "\ea49";
  }
  &.is--sort-numeric-asc:before {
      content: "\ea4a";
  }
  &.is--sort-numberic-desc:before {
      content: "\ea4b";
  }
  &.is--sort-amount-asc:before {
      content: "\ea4c";
  }
  &.is--sort-amount-desc:before {
      content: "\ea4d";
  }
  &.is--command:before {
      content: "\ea4e";
  }
  &.is--shift:before {
      content: "\ea4f";
  }
  &.is--ctrl:before {
      content: "\ea50";
  }
  &.is--opt:before {
      content: "\ea51";
  }
  &.is--checkbox-checked:before {
      content: "\ea52";
  }
  &.is--checkbox-unchecked:before {
      content: "\ea53";
  }
  &.is--radio-checked:before {
      content: "\ea54";
  }
  &.is--radio-checked2:before {
      content: "\ea55";
  }
  &.is--radio-unchecked:before {
      content: "\ea56";
  }
  &.is--crop:before {
      content: "\ea57";
  }
  &.is--make-group:before {
      content: "\ea58";
  }
  &.is--ungroup:before {
      content: "\ea59";
  }
  &.is--scissors:before {
      content: "\ea5a";
  }
  &.is--filter:before {
      content: "\ea5b";
  }
  &.is--font:before {
      content: "\ea5c";
  }
  &.is--ligature:before {
      content: "\ea5d";
  }
  &.is--ligature2:before {
      content: "\ea5e";
  }
  &.is--text-height:before {
      content: "\ea5f";
  }
  &.is--text-width:before {
      content: "\ea60";
  }
  &.is--font-size:before {
      content: "\ea61";
  }
  &.is--bold:before {
      content: "\ea62";
  }
  &.is--underline:before {
      content: "\ea63";
  }
  &.is--italic:before {
      content: "\ea64";
  }
  &.is--strikethrough:before {
      content: "\ea65";
  }
  &.is--omega:before {
      content: "\ea66";
  }
  &.is--sigma:before {
      content: "\ea67";
  }
  &.is--page-break:before {
      content: "\ea68";
  }
  &.is--superscript:before {
      content: "\ea69";
  }
  &.is--subscript:before {
      content: "\ea6a";
  }
  &.is--superscript2:before {
      content: "\ea6b";
  }
  &.is--subscript2:before {
      content: "\ea6c";
  }
  &.is--text-color:before {
      content: "\ea6d";
  }
  &.is--pagebreak:before {
      content: "\ea6e";
  }
  &.is--clear-formatting:before {
      content: "\ea6f";
  }
  &.is--table:before {
      content: "\ea70";
  }
  &.is--table2:before {
      content: "\ea71";
  }
  &.is--insert-template:before {
      content: "\ea72";
  }
  &.is--pilcrow:before {
      content: "\ea73";
  }
  &.is--ltr:before {
      content: "\ea74";
  }
  &.is--rtl:before {
      content: "\ea75";
  }
  &.is--section:before {
      content: "\ea76";
  }
  &.is--paragraph-left:before {
      content: "\ea77";
  }
  &.is--paragraph-center:before {
      content: "\ea78";
  }
  &.is--paragraph-right:before {
      content: "\ea79";
  }
  &.is--paragraph-justify:before {
      content: "\ea7a";
  }
  &.is--indent-increase:before {
      content: "\ea7b";
  }
  &.is--indent-decrease:before {
      content: "\ea7c";
  }
  &.is--share:before {
      content: "\ea7d";
  }
  &.is--new-tab:before {
      content: "\ea7e";
  }
  &.is--embed:before {
      content: "\ea7f";
  }
  &.is--embed2:before {
      content: "\ea80";
  }
  &.is--terminal:before {
      content: "\ea81";
  }
  &.is--share2:before {
      content: "\ea82";
  }
  &.is--mail:before {
      content: "\ea83";
  }
  &.is--mail2:before {
      content: "\ea84";
  }
  &.is--mail3:before {
      content: "\ea85";
  }
  &.is--mail4:before {
      content: "\ea86";
  }
  &.is--amazon:before {
      content: "\ea87";
  }
  &.is--google:before {
      content: "\ea88";
  }
  &.is--google2:before {
      content: "\ea89";
  }
  &.is--google3:before {
      content: "\ea8a";
  }
  &.is--google-plus:before {
      content: "\ea8b";
  }
  &.is--google-plus2:before {
      content: "\ea8c";
  }
  &.is--google-plus3:before {
      content: "\ea8d";
  }
  &.is--hangouts:before {
      content: "\ea8e";
  }
  &.is--google-drive:before {
      content: "\ea8f";
  }
  &.is--facebook:before {
      content: "\ea90";
  }
  &.is--facebook2:before {
      content: "\ea91";
  }
  &.is--instagram:before {
      content: "\ea92";
  }
  &.is--whatsapp:before {
      content: "\ea93";
  }
  &.is--spotify:before {
      content: "\ea94";
  }
  &.is--telegram:before {
      content: "\ea95";
  }
  &.is--twitter:before {
      content: "\ea96";
  }
  &.is--vine:before {
      content: "\ea97";
  }
  &.is--vk:before {
      content: "\ea98";
  }
  &.is--renren:before {
      content: "\ea99";
  }
  &.is--sina-weibo:before {
      content: "\ea9a";
  }
  &.is--rss:before {
      content: "\ea9b";
  }
  &.is--rss2:before {
      content: "\ea9c";
  }
  &.is--youtube:before {
      content: "\ea9d";
  }
  &.is--youtube2:before {
      content: "\ea9e";
  }
  &.is--twitch:before {
      content: "\ea9f";
  }
  &.is--vimeo:before {
      content: "\eaa0";
  }
  &.is--vimeo2:before {
      content: "\eaa1";
  }
  &.is--lanyrd:before {
      content: "\eaa2";
  }
  &.is--flickr:before {
      content: "\eaa3";
  }
  &.is--flickr2:before {
      content: "\eaa4";
  }
  &.is--flickr3:before {
      content: "\eaa5";
  }
  &.is--flickr4:before {
      content: "\eaa6";
  }
  &.is--dribbble:before {
      content: "\eaa7";
  }
  &.is--behance:before {
      content: "\eaa8";
  }
  &.is--behance2:before {
      content: "\eaa9";
  }
  &.is--deviantart:before {
      content: "\eaaa";
  }
  &.is--500px:before {
      content: "\eaab";
  }
  &.is--steam:before {
      content: "\eaac";
  }
  &.is--steam2:before {
      content: "\eaad";
  }
  &.is--dropbox:before {
      content: "\eaae";
  }
  &.is--onedrive:before {
      content: "\eaaf";
  }
  &.is--github:before {
      content: "\eab0";
  }
  &.is--npm:before {
      content: "\eab1";
  }
  &.is--basecamp:before {
      content: "\eab2";
  }
  &.is--trello:before {
      content: "\eab3";
  }
  &.is--wordpress:before {
      content: "\eab4";
  }
  &.is--joomla:before {
      content: "\eab5";
  }
  &.is--ello:before {
      content: "\eab6";
  }
  &.is--blogger:before {
      content: "\eab7";
  }
  &.is--blogger2:before {
      content: "\eab8";
  }
  &.is--tumblr:before {
      content: "\eab9";
  }
  &.is--tumblr2:before {
      content: "\eaba";
  }
  &.is--yahoo:before {
      content: "\eabb";
  }
  &.is--yahoo2:before {
      content: "\eabc";
  }
  &.is--tux:before {
      content: "\eabd";
  }
  &.is--appleinc:before {
      content: "\eabe";
  }
  &.is--finder:before {
      content: "\eabf";
  }
  &.is--android:before {
      content: "\eac0";
  }
  &.is--windows:before {
      content: "\eac1";
  }
  &.is--windows8:before {
      content: "\eac2";
  }
  &.is--soundcloud:before {
      content: "\eac3";
  }
  &.is--soundcloud2:before {
      content: "\eac4";
  }
  &.is--skype:before {
      content: "\eac5";
  }
  &.is--reddit:before {
      content: "\eac6";
  }
  &.is--hackernews:before {
      content: "\eac7";
  }
  &.is--wikipedia:before {
      content: "\eac8";
  }
  &.is--linkedin:before {
      content: "\eac9";
  }
  &.is--linkedin2:before {
      content: "\eaca";
  }
  &.is--lastfm:before {
      content: "\eacb";
  }
  &.is--lastfm2:before {
      content: "\eacc";
  }
  &.is--delicious:before {
      content: "\eacd";
  }
  &.is--stumbleupon:before {
      content: "\eace";
  }
  &.is--stumbleupon2:before {
      content: "\eacf";
  }
  &.is--stackoverflow:before {
      content: "\ead0";
  }
  &.is--pinterest:before {
      content: "\ead1";
  }
  &.is--pinterest2:before {
      content: "\ead2";
  }
  &.is--xing:before {
      content: "\ead3";
  }
  &.is--xing2:before {
      content: "\ead4";
  }
  &.is--flattr:before {
      content: "\ead5";
  }
  &.is--foursquare:before {
      content: "\ead6";
  }
  &.is--yelp:before {
      content: "\ead7";
  }
  &.is--paypal:before {
      content: "\ead8";
  }
  &.is--chrome:before {
      content: "\ead9";
  }
  &.is--firefox:before {
      content: "\eada";
  }
  &.is--IE:before {
      content: "\eadb";
  }
  &.is--edge:before {
      content: "\eadc";
  }
  &.is--safari:before {
      content: "\eadd";
  }
  &.is--opera:before {
      content: "\eade";
  }
  &.is--file-pdf:before {
      content: "\eadf";
  }
  &.is--file-openoffice:before {
      content: "\eae0";
  }
  &.is--file-word:before {
      content: "\eae1";
  }
  &.is--file-excel:before {
      content: "\eae2";
  }
  &.is--libreoffice:before {
      content: "\eae3";
  }
  &.is--html-five:before {
      content: "\eae4";
  }
  &.is--html-five2:before {
      content: "\eae5";
  }
  &.is--css3:before {
      content: "\eae6";
  }
  &.is--git:before {
      content: "\eae7";
  }
  &.is--codepen:before {
      content: "\eae8";
  }
  &.is--svg:before {
      content: "\eae9";
  }
  &.is--IcoMoon:before {
      content: "\eaea";
  }
  &.is--uni21:before {
      content: "\21";
  }
  &.is--uni22:before {
      content: "\22";
  }
  &.is--uni23:before {
      content: "\23";
  }
  &.is--uni24:before {
      content: "\24";
  }
  &.is--uni25:before {
      content: "\25";
  }
  &.is--uni26:before {
      content: "\26";
  }
  &.is--uni27:before {
      content: "\27";
  }
  &.is--uni28:before {
      content: "\28";
  }
  &.is--uni29:before {
      content: "\29";
  }
  &.is--uni2A:before {
      content: "\2a";
  }
  &.is--uni2B:before {
      content: "\2b";
  }
  &.is--uni2C:before {
      content: "\2c";
  }
  &.is--uni2D:before {
      content: "\2d";
  }
  &.is--uni2E:before {
      content: "\2e";
  }
  &.is--uni2F:before {
      content: "\2f";
  }
  &.is--uni30:before {
      content: "\30";
  }
  &.is--uni31:before {
      content: "\31";
  }
  &.is--uni32:before {
      content: "\32";
  }
  &.is--uni33:before {
      content: "\33";
  }
  &.is--uni34:before {
      content: "\34";
  }
  &.is--uni35:before {
      content: "\35";
  }
  &.is--uni36:before {
      content: "\36";
  }
  &.is--uni37:before {
      content: "\37";
  }
  &.is--uni38:before {
      content: "\38";
  }
  &.is--uni39:before {
      content: "\39";
  }
  &.is--uni3A:before {
      content: "\3a";
  }
  &.is--uni3B:before {
      content: "\3b";
  }
  &.is--uni3C:before {
      content: "\3c";
  }
  &.is--uni3D:before {
      content: "\3d";
  }
  &.is--uni3E:before {
      content: "\3e";
  }
  &.is--uni3F:before {
      content: "\3f";
  }
  &.is--uni40:before {
      content: "\40";
  }
  &.is--uni41:before {
      content: "\41";
  }
  &.is--uni42:before {
      content: "\42";
  }
  &.is--uni43:before {
      content: "\43";
  }
  &.is--uni44:before {
      content: "\44";
  }
  &.is--uni45:before {
      content: "\45";
  }
  &.is--uni46:before {
      content: "\46";
  }
  &.is--uni47:before {
      content: "\47";
  }
  &.is--uni48:before {
      content: "\48";
  }
  &.is--uni49:before {
      content: "\49";
  }
  &.is--uni4A:before {
      content: "\4a";
  }
  &.is--uni4B:before {
      content: "\4b";
  }
  &.is--uni4C:before {
      content: "\4c";
  }
  &.is--uni4D:before {
      content: "\4d";
  }
  &.is--uni4E:before {
      content: "\4e";
  }
  &.is--uni4F:before {
      content: "\4f";
  }
  &.is--uni50:before {
      content: "\50";
  }
  &.is--uni51:before {
      content: "\51";
  }
  &.is--uni52:before {
      content: "\52";
  }
  &.is--uni53:before {
      content: "\53";
  }
  &.is--uni54:before {
      content: "\54";
  }
  &.is--uni55:before {
      content: "\55";
  }
  &.is--uni56:before {
      content: "\56";
  }
  &.is--uni57:before {
      content: "\57";
  }
  &.is--uni58:before {
      content: "\58";
  }
  &.is--uni59:before {
      content: "\59";
  }
  &.is--uni5A:before {
      content: "\5a";
  }
  &.is--uni5B:before {
      content: "\5b";
  }
  &.is--uni5C:before {
      content: "\5c";
  }
  &.is--uni5D:before {
      content: "\5d";
  }
  &.is--uni5E:before {
      content: "\5e";
  }
  &.is--uni5F:before {
      content: "\5f";
  }
  &.is--uni60:before {
      content: "\60";
  }
  &.is--uni61:before {
      content: "\61";
  }
  &.is--uni62:before {
      content: "\62";
  }
  &.is--uni63:before {
      content: "\63";
  }
  &.is--uni64:before {
      content: "\64";
  }
  &.is--uni65:before {
      content: "\65";
  }
  &.is--uni66:before {
      content: "\66";
  }
  &.is--uni67:before {
      content: "\67";
  }
  &.is--uni68:before {
      content: "\68";
  }
  &.is--uni69:before {
      content: "\69";
  }
  &.is--uni6A:before {
      content: "\6a";
  }
  &.is--uni6B:before {
      content: "\6b";
  }
  &.is--uni6C:before {
      content: "\6c";
  }
  &.is--uni6D:before {
      content: "\6d";
  }
  &.is--uni6E:before {
      content: "\6e";
  }
  &.is--uni6F:before {
      content: "\6f";
  }
  &.is--uni70:before {
      content: "\70";
  }
  &.is--uni71:before {
      content: "\71";
  }
  &.is--uni72:before {
      content: "\72";
  }
  &.is--uni73:before {
      content: "\73";
  }
  &.is--uni74:before {
      content: "\74";
  }
  &.is--uni75:before {
      content: "\75";
  }
  &.is--uni76:before {
      content: "\76";
  }
  &.is--uni77:before {
      content: "\77";
  }
  &.is--uni78:before {
      content: "\78";
  }
  &.is--uni79:before {
      content: "\79";
  }
  &.is--uni7A:before {
      content: "\7a";
  }
  &.is--uni7B:before {
      content: "\7b";
  }
  &.is--uni7C:before {
      content: "\7c";
  }
  &.is--uni7D:before {
      content: "\7d";
  }
  &.is--uni7E:before {
      content: "\7e";
  }
  &.is--uniA9:before {
      content: "\a9";
  }
}
