/*
<div class="cleo-event">
  <div class="cleo-event__group">
    <div class="cleo-event__item">
      <div class="cleo-event__from">!!date!!</div>
      <div class="cleo-event__detail-wrapper">
        <div class="cleo-event__detail is--length">!!lenght!!</div>
        <div class="cleo-event__detail is--yellow">!!empty!!</div>
        <div class="cleo-event__detail is--red">!!empty!!</div>
        <div class="cleo-event__detail is--blue">!!empty!!</div>
        <div class="cleo-event__detail is--days">!!days!!</div>
      </div>
      <div class="cleo-event__edit"><a class="cleo-icon is--pencil" title="edituj"></a></div>
      <div class="cleo-event__delete"><a class="cleo-icon is--bin" title="smaž"></a></div>
    </div>
  </div>
</div>
*/

$cleo-event-date-size: 1rem;
$cleo-event-base-font-size: 1.2rem;
$cleo-event-vertical-padding: 0.2rem;
$cleo-event-item-padding: $cleo-event-date-size + 0.2rem;
$cleo-event-yellow: #ffff01;
$cleo-event-purple: #cc00ff;
$cleo-event-red: #fe0000;
$cleo-event-blue: #0066ff;

.cleo-event__group {
  overflow: visible;
  height: auto;
  opacity: 1;
  transition: opacity 0.5s ease;

  &.js-is-hidden {
    height: 0px;
    overflow: hidden;
    opacity: 0;
  }
}

.cleo-event__item {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
  padding-top: $cleo-event-item-padding;
}

.cleo-event__from {
  position: absolute;
  top: 0; left: 0;
  font-size: $cleo-event-date-size;
  line-height: $cleo-event-date-size;
}

.cleo-event__detail-wrapper {
  flex: 0 0 80%;
  width: 80%;
  min-width: 80%;
  max-width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.cleo-event__edit,
.cleo-event__delete {
  text-align: right;
  flex: 1 1 auto;
  font-size: $ico-font-size-m;
}


.cleo-event__detail {
  text-align: center;
  padding: $cleo-event-vertical-padding 0;
  height: $cleo-event-base-font-size;
  min-height: $cleo-event-base-font-size;
  max-height: $cleo-event-base-font-size;
  font-size: $cleo-event-base-font-size;

  &.is--length,
  &.is--yellow,
  &.is--red,
  &.is--blue {
    flex: 0 0 20%;
    min-width: 20%;
    max-width: 20%;
    border-radius: 6px;
  }

  &.is--length {
    background-color: $cleo-event-purple;
  }
  &.is--yellow {
    background-color: $cleo-event-yellow;
  }
  &.is--red {
    background-color: $cleo-event-red;
  }
  &.is--blue {
    background-color: $cleo-event-blue;
  }
  &.is--days {
    flex: 0 0 15%;
    min-width: 15%;
    max-width: 15%;
  }
}


.cleo-event.is--controls {
  margin-top: 0.5rem;
  padding-top: 0.2rem;
  text-align: right;
  font-size: $ico-font-size-m;
  margin-bottom: 3rem;

  justify-content: space-between;
  display: flex;
}
