.cleo-floating-box {
  position: fixed;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: yellow;

  @media (min-width: 1200px) {
    position: fixed;
    top: 20%;
    right: 5%;
    bottom: auto;
    left: auto;

    border-radius: 10px;
    border: solid 3px $black;

    width: 200px;
  }
}
