.cleo-header__text {
  margin-top: 8px;
  margin-bottom: 8px;
  position: relative;

  /*h1, h2 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -999;
    visibility: hidden;
  }*/

  &.is--cleopatra {
    svg {
      width: 260px;
      height: 62px;
    }
  }

  &.is--calendar {
    svg {
      width: 173px;
      height: 69px;
    }
  }

  &.is--logo {
    svg {
      width: 96px;
      height: 96px;
    }
  }

  @media (min-width: 768px) {
    margin-top: 16px;
    margin-bottom: 16px;

    &.is--cleopatra {
      svg {
        width: 346px;
        height: 82px;
      }
    }

    &.is--calendar {
      svg {
        width: 230px;
        height: 82px;
      }
    }

    &.is--logo {
      svg {
        width: 128px;
        height: 128px;
      }
    }
  }
  @media (min-width: 992px) {
    margin-top: 24px;
    margin-bottom: 24px;
  }
  @media (min-width: 1200px) {

    &.is--cleopatra {
      svg {
        width: 432px;
        height: 103px;
      }
    }

    &.is--calendar {
      svg {
        width: 288px;
        height: 115px;
      }
    }

    &.is--logo {
      svg {
        width: 160px;
        height: 160px;
      }
    }

    &.is--with-ul {
      width: 60%;
    }

    margin-top: 32px;
    margin-bottom: 32px;
  }
}
