.cleo-in-modal__datepicker {
  .ui-datepicker-inline {
    margin: 1rem auto 3rem auto;
  }
}

.cleo-in-modal__slider {
  margin: 1rem 2rem;;

  .ui-slider-handle {
    width: auto;
    height: auto;
    padding: 0 0.5rem;
  }
}
