$cleo-menu-mobile-small: 420px;
$cleo-menu-mobile: 992px;

.cleo-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
  margin: 0;

  @media (max-width: $cleo-menu-mobile-small - 1px) {
    justify-content: center;
    padding: 0;
  }
}

.cleo-menu__item {
  flex: 0 1 auto;
  list-style-type: none;
  padding:15px;

  a{
    text-decoration:none;
  }

  @media (min-width: $cleo-menu-mobile-small) {
    margin-left: -.2rem;
  }
  @media (min-width: 1400px) {
    margin-left: .5rem;
  }

  &.is--icon-styled {
    font-size: $ico-font-size-x;

    a {
      color: $google-gray !important;

      &:hover {
        text-decoration: none !important;
      }
    }

    @media (min-width: $cleo-menu-mobile) {
      a {
        color: $white !important;
      }
    }
  }
}

.navbar-shrink {
  box-shadow: 0 0 22px -17px #000000;
  .cleo-menu {
  }
}

.navbar-shrink {
  .cleo-menu__item {
    &.is--icon-styled {

      a {
        color: $google-gray !important;
      }
    }
  }
}
