.cleo-info {
  position: fixed;
  top: 12px;
  left: 0;
  right: 0;
  bottom: auto;
  opacity: 0;
  z-index: -9999;
  text-align: center;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
  pointer-events: none;

  &.is--closing {
    opacity: 0 !important;
  }

  &.is--open {
    opacity: 1;
    z-index: 9999;
  }

  .cleo-info__box {
    display: inline-block;
    max-width: 90%;
    padding: 1rem 2rem;
    border-radius: 30px;
    position: relative;
  }

  &.is--error .cleo-info__box {
    background-color: $cleo-red-logo;
  }

  &.is--info .cleo-info__box {
    background-color: $cleo-blue-logo;
  }

  .cleo-info__closer {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    pointer-events: auto;
  }

  .cleo-info__content {
    padding-right: 1rem;
    margin: 0;
  }
}
