$cleo-user-mobile: 480px;

.cleo-user {
  display: inline-block;
  height: 36px;
  line-height: 36px;
  background-color: $white;
  padding: 0 6px;
  text-decoration: none !important;

  font-family: 'Roboto-Medium', sans-serif;
  size: 14px;
  color: $google-gray;
  font-weight: bold;

  border-radius: 2px;
  box-shadow: 1px 1px 3px 0px rgba(130,130,130,1);

  //@media (min-width: $cleo-user-mobile) {
  //  padding: 0 12px 0 6px;
  //}

  .cleo-user__img {
    display: inline-block;
    vertical-align: middle;
    width: 26px;
    height: 26px;
    margin-right: 0;
    background-position: 0 0;
    background-size: contain;
    background-image: url('../img/g-logo.png');
    color: transparent;

    @media (min-width: $cleo-user-mobile) {
      display: inline-block;
      //margin-right: 10px;
    }
  }

  .cleo-user__text {
    display: none;
    vertical-align: middle;
    line-height: 1;

    @media (min-width: $cleo-user-mobile) {
      display: inline-block;
    }
  }
}
