.cleo-thumbnail {
  width: 100%;
  margin: 0 auto;
  margin-right: 0;
  margin-top: 3rem;
  border: 10px solid #e9b0fd;
  border-radius: 50px;

  &.is--video {

    @media (max-width: 767px) {
      min-height: 280px;
    }
  }

  @media (min-width: 768px) {
    height: 188px;
    min-height: auto;
    width: 50%;
    margin-top: -4rem;
  }
  @media (min-width: 992px) {
    height: 256px;
    min-height: auto;
  }

  @media (min-width: 1200px) {
    height: 296px;
    min-height: auto;
    width: 80%;
    margin: 0 auto;
    margin-top: 1rem;
  }
}

