.cleo-util {
  &.is--info-dialog {
    max-width: 900px;
  }
  &.is--centered {
    margin-left: auto;
    margin-right: auto;
  }
  &.is--max-w-800 {
    max-width: 800px;
  }
  &.is--max-w-1200 {
    max-width: 1200px;
  }
  &.is--no-margined {
    margin: 0 !important;
  }
  &.is--no-padded {
    padding: 0 !important;
  }
  &.is--pointer {
    cursor: pointer !important;
  }
  &.is--ico-size {
    &-m {
      font-size: $ico-font-size-m;
    }
    &-x {
      font-size: $ico-font-size-x;
    }
  }
  &.is--flex-centered {
    justify-content: center !important;
  }
  &.is--tiny-margined {
    margin: 0.5rem;
  }
  &.is--vertical-margined {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  &.is--top-head-padding {
    padding-top: 6rem;
  }
  &.is--not-underlined {
    &:hover {
      text-decoration: none;
    }
  }

  &.is--max-w-100 {
    max-width: 100%;
  }
  &.is--modal-80 {
    @media (min-width: 768px) {
      .modal-dialog {
        max-width: 720px !important;
      }
    }
  }

  // icons
  &.is--icon-before {
    margin-right: 1rem;
  }

  &.is--text-r-from-tablet {
    text-align: center;

    @media (min-width: 768px) {
      text-align: right;
    }
  }

  &.is--text-l-from-tablet {
    text-align: center;

    @media (min-width: 768px) {
      text-align: left;
    }
  }

  &.is--first-ul-style {
    //@include sans-serif-font;
    font-weight: bold;
    font-style: italic;
    font-size: 1.3rem;
    color: $cleo-blue;
  }
}
