/*<div class="cleo-stats">
  <div class="cleo-stats__column">
    <div class="cleo-stats__row">
      <h3 class="cleo-stats__header">Délka menstruace</h3>
      <div class="cleo-stats__content">5 dnů</div>
    </div>
  </div>
</div>*/

.cleo-stats {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: stretch;

  @media (min-width: 992px) {
    flex-direction: row;
  }
}

.cleo-stats__column {
  flex: 1 1 auto;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: stretch;
}

.cleo-stats__row {
  flex: 1 1 auto;
  padding: 0.2rem 0;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.cleo-stats__header,
.cleo-stats__content {
  font-size: 1rem;
  //@include sans-serif-font;
}

.cleo-stats__header {
  flex: 0 0 70%;
  width: 70%;
  max-width: 70%;
  min-width: 70%;
  margin: 0;
}
 .cleo-stats__content {
   flex: 0 0 30%;
   width: 30%;
   max-width: 30%;
   min-width: 30%;
   font-weight: bold;
   text-align: right;
 }
