.cleo-section {
  background-size: cover;

  &.is--main {

    hr {
      border-color: rgba(255,255,255,0) !important;
    }
    p, ul {
      background-color: rgba(255,255,255,0.6) !important;
      border-radius: 6px;
      padding: 1rem;
    }

    ul {
      text-align: left;
      padding: 1rem 2rem;
    }

    svg {
      display: inline-block;
      margin: 0 .3rem;
    }

  }

  &.is--yellow-flower {
    background-position: center 30%;
    background-image: url('../img/yellow-flower-background.jpg');
  }

  &.is--red-flower {
    background-position: center 30%;
    background-image: url('../img/red-flower-background.jpg');
  }

  &.is--purple-flower {
    background-position: center 30%;
    background-image: url('../img/purple-flower-background.jpg');
  }

  &.is--info {
    padding-top: 3rem;
    border-style: solid;
    border-color: #dee2e6;
    border-width: 100px 0 0 0;

    p, ul, h2 {
      text-align: left;
    }
  }
}
