.cleo-brand {
  &.is--icon {
    display: none;
    margin-bottom: 10px;
    margin-right: 10px;

    @media (min-width: 576px) {
      display: inline-block;
    }
  }
  &.is--text {
    display: none;

    @media (min-width: 576px) {
      display: inline-block;
    }
  }
}
.logotyp{
  width: 27px;
  padding-bottom: 9px;
  margin-right: 5px;
} 
.logo-text{
  width:135px;
}
