//@-moz-keyframes spin { 100% { -moz-transform: rotate(-360deg); } }
//@-webkit-keyframes spin { 100% { -webkit-transform: rotate(-360deg); } }
//@keyframes spin { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); }}

@-webkit-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0); background-color: rgba(255,255,255,0.8);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0); background-color: rgba(255,255,255,0.8);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0); background-color: rgba(255,255,255,0.8);}}
@keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0); background-color: rgba(255,255,255,0.8);}}

.cleo-loading {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9000;
  background-color: rgba(0,0,0,0);
  transition: background 1s ease;

  .cleo-loading__spinner {
    position: absolute;
    top: calc(40% - 32px);
    left: calc(50% - 32px);
    width: 64px;
    height: 64px;
    //background-image: url('../img/spinner.png');
    //-webkit-animation: spin 1.5s linear infinite;
    //-moz-animation: spin 1.5s linear infinite;
    //animation: spin 1.5s linear infinite;
  }

  .cleo-loading__textfield {
    position: absolute;
    top: calc(40% + 100px);
    left: 0;
    right: 0;
    text-align: center;
  }

  .cleo-loading__content {
    display: inline-block;
    padding: 0.2rem 0.5rem;
    background-color: rgba(255,255,255,0.7);
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
    -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  }

  &.is--showing {
    background-color: rgba(0,0,0,0.4);
  }
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;

  div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 32px 32px;

    &:after {
      content: " ";
      display: block;
      position: absolute;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: #fff;
      margin: -3px 0 0 -3px;
    }

    &:nth-child(1) {
      animation-delay: -0.036s;
    }
    &:nth-child(1):after {
      top: 50px;
      left: 50px;
    }
    &:nth-child(2) {
      animation-delay: -0.072s;
    }
    &:nth-child(2):after {
      top: 54px;
      left: 45px;
    }
    &:nth-child(3) {
      animation-delay: -0.108s;
    }
    &:nth-child(3):after {
      top: 57px;
      left: 39px;
    }
    &:nth-child(4) {
      animation-delay: -0.144s;
    }
    &:nth-child(4):after {
      top: 58px;
      left: 32px;
    }
    &:nth-child(5) {
      animation-delay: -0.18s;
    }
    &:nth-child(5):after {
      top: 57px;
      left: 25px;
    }
    &:nth-child(6) {
      animation-delay: -0.216s;
    }
    &:nth-child(6):after {
      top: 54px;
      left: 19px;
    }
    &:nth-child(7) {
      animation-delay: -0.252s;
    }
    &:nth-child(7):after {
      top: 50px;
      left: 14px;
    }
    &:nth-child(8) {
      animation-delay: -0.288s;
    }
    &:nth-child(8):after {
      top: 45px;
      left: 10px;
    }
  }
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
