.cleo-google {
  display: inline-block;
  height: 36px;
  line-height: 36px;
  background-color: $white;
  padding: 0 12px 0 6px;
  text-decoration: none !important;

  font-family: 'Roboto-Medium', sans-serif;
  size: 14px;
  color: $google-gray;
  font-weight: bold;

  border-radius: 2px;
  box-shadow: 1px 1px 3px 0px rgba(130,130,130,1);

  &:hover {
    background-color: #4285f4;
    color: $white;
  }

  .cleo-google__img {
    display: inline-block;
    vertical-align: middle;
    width: 26px;
    height: 26px;
    margin-right: 10px;
    background-position: 0 0;
    background-size: contain;
    background-image: url('../img/g-logo.png');
  }

  .cleo-google__text {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
  }
}
